[View in Colaboratory](https://colab.research.google.com/github/Naysieze/example/blob/master/Python_Tutorial_00.ipynb)

# Python Tutorial 00

작성자 : 이희성 <br>
작성일 :

이 연습 파일은 [점프 투 파이썬](https://wikidocs.net/)을 공부하며 작성하였습니다.

## 02 -1 숫자형

###실수형

In [0]:
# 실수형 예제

a = 4.24E10
print(a)

b = 4.24e-10
print(b)

42400000000.0
4.24e-10

####의문
b의 결과값이 수식 그대로 나옴

In [0]:
# 1.대소문자 차이 확인

a = 4.24E-10
print(a)

b = 4.24e-10
print(b)

4.24e-10
4.24e-10

In [0]:
# 차이가 없음을 확인

# 2.수식내의 수치 변경

a = 2e-2
print(a)

b = 3.4e-5
print(b)

c = 3e-2
print(c)

d = 2.5e-5
print(d)

e = 2e-5
print(e)

f = 4.6e-2
print(f)

0.02
3.4e-05
0.03
2.5e-05
2e-05
0.046

In [0]:
# 뒤에 들어가는 숫자중 2가 들어가는 경우만 정상작동 5는 수식 그대로 출력

# 3.뒷에 들어가는 숫자중 작동 되는 숫자 확인

a = 2.5e-1
print(a)

b = 2.5e-2
print(b)

c = 2.5e-3
print(c)

d = 2.5e-4
print(d)

e = 2.5e-5
print(e)

f = 2.5e-6
print(f)

g = 2.5e-7
print(g)

h = 2.5e-8
print(h)

i = 2.5e-9
print(i)

j = 2.5e-10
print(j)

k = 2.5e-11
print(k)

l = 2.5e-12
print(l)

m = 2.5e-13
print(m)

n = 2.5e-14
print(n)

o = 2.5e-15
print(o)

p = 2.5e-16
print(p)

q = 2.5e-17
print(q)

r = 2.5e-18
print(r)

s = 2.5e-19
print(s)

t = 2.5e-20
print(t)

0.25
0.025
0.0025
0.00025
2.5e-05
2.5e-06
2.5e-07
2.5e-08
2.5e-09
2.5e-10
2.5e-11
2.5e-12
2.5e-13
2.5e-14
2.5e-15
2.5e-16
2.5e-17
2.5e-18
2.5e-19
2.5e-20

In [0]:
# -5 이하의 값은 계산되지 않음

# 4.양수도 마찬가지인지 확인

a = 2.5e1
print(a)

b = 2.5e2
print(b)

c = 2.5e3
print(c)

d = 2.5e4
print(d)

e = 2.5e5
print(e)

f = 2.5e6
print(f)

g = 2.5e7
print(g)

h = 2.5e8
print(h)

i = 2.5e9
print(i)

j = 2.5e10
print(j)

k = 2.5e11
print(k)

l = 2.5e12
print(l)

m = 2.5e13
print(m)

n = 2.5e14
print(n)

o = 2.5e15
print(o)

p = 2.5e16
print(p)

q = 2.5e17
print(q)

r = 2.5e18
print(r)

s = 2.5e19
print(s)

t = 2.5e20
print(t)

25.0
250.0
2500.0
25000.0
250000.0
2500000.0
25000000.0
250000000.0
2500000000.0
25000000000.0
250000000000.0
2500000000000.0
25000000000000.0
250000000000000.0
2500000000000000.0
2.5e+16
2.5e+17
2.5e+18
2.5e+19
2.5e+20

In [0]:
# 양수를 넣으면 16이상은 계산결과 값이 수치로 나오지 않음

#####결론
*실수형은 10의 배수를 제곱하는 것

*양수를 제곱할시 10까지만 출력가능 16이상은 수식으로 출력

*음수를 제곱할시 -4까지만 출력가능  -5 이하는 수식으로 출력

###8진수와 16진수

In [0]:
# 8진수와 16진수 예제

# # 8진수 예제

a = 0o177
print(a)

# # 16진수 예제

b = 0x8ff
print(b)

c = 0xABC
print(c)

127
2303
2748

#### 8진수와 16진수에 대한 정보 부족
다양한 시도 불가

###사칙연산

In [19]:
# 사칙연산 예제

a = 3
b = 4

c = a + b
print(c)
# 결과값 7

d = a * b
print(d)
# 결과값 12

e = a / b
print(e)
# 결과값 0.75 '책의 설명에는 정수로 나눌시 소수점은 버림'

f = a / (b*1.0)
print(f)
# 결과값 0.75의 결과값을 그대로 출력할시 강제로 한가지 수를 소수점화 시키면된다

g = a ** b
print(g)
# 결과값 81

h = 7 % 3
print(h)

i = 3 % 7
print(i)
# 결과값 h = 1, i = 3 '나눗셈을 하고 나눠지지 않은 나머지값을 남긴다'

j = 7 / (4*1.0)
print(j)

k = 7 // 4
print(k)

l = -7 // 4
print(l)
# 결과값 j = 1.75, k = 1, l = -2 'k에 쓰인 // 명령어는 나눈값의 소수점 아래값을 반환'
# //의 결과 값이 음수인경우는 더욱 낮은 수로 출력이 된다

7
12
0.75
0.75
81
1
3
1.75
1
-2

####의문
1. e의 결과값에 책의 설명이 맞는가

2. l의 실제 값이 -2에 근사값이여서 -2가 출력이 되는가 -1에 가까우면 -1이 출력이 되는가

In [18]:
# 나눗셈 정수 계산 테스트

a = 1
b = 2
c = 3
d = 4
e = 5

f = e / a
print(f)

g = e / b
print(g)

h = e / c
print(h)

i = e / d
print(i)

5.0
2.5
1.6666666666666667
1.25

In [17]:
# 소수점 이하는 자동생성(2.7버전만 소수점 이하 버려짐)

# 소수점 나누기 테스트

a = 1.1 / 2.3
print(a)

b = 3 / 4.2
print(b)

c = 6.1 / 3
print(c)

0.47826086956521746
0.7142857142857143
2.033333333333333

In [0]:
# 정수와 정수를 나눌때 나오는 값에 버려지는 소수점들은 정말 버려지는가

# 정수와 정수를 소수점이 나오게 나눈값을 다른 수들과 다른계산을 하여 테스트

a = 5 / 3

b = a + 1.5
print(b)

c = a * 3
print(c)

e = a / 2
print(e)

3.166666666666667
5.0
0.8333333333333334

In [20]:
# // 연산의 소수점에 따른 수치변화 확인

a = 7 // 4
print(a)
# 원래값 1.75

b = 5 // 4
print(b)
# 원래값 1.25

c = 3 // 2
print(c)
# 원래값 1.5

d = -7 // 4
print(d)
# 원래값 -1.75

e = -5 // 4
print(e)
# 원래값 -1.25

f = -3 // 2
print(f)
# 원래값 -1.5

1
1
1
-2
-2
-2

####결론
의문 1 : 정수와 정수로 나눌때 소수점이 완전히 버려짐<br><br>
    *소수점 결과가 필요한경우엔 필수적으로 하나의 정수라도 강제로 소수점 수로 변환 필요<br><br>
의문 2 : 소수점의 수는 모두 올림하여 적용이 됨

##02-2 문자열

In [79]:
# 문자열을 만들때 사용하는 '',  "",  '''''', """"""의 차이를 알아보자

print('ㅇ아른ㄷㅇ')
print("ㅇㄹㄴㄷ")
print('''ㄴㄷㄺㅎ''')
print("""ㄴㄹㄷㄴ""")

hi = 'sefds'
print(hi)
si = '''sefd'''
print(si)
ei = "rgfd"
print(ei)
io = """ftfd"""
print(io)
# 책에선 분명 ''로 변수 선언 작업하면 에러 뜬다며

ㅇ아른ㄷㅇ
ㅇㄹㄴㄷ
ㄴㄷㄺㅎ
ㄴㄹㄷㄴ
sefds
sefd
rgfd
ftfd

In [80]:
li = '책에선 된다며\'실제론 안되내'
print(li)

lo = '책에선 안된다는대 실제론 되내'
print(lo)

kl = "\"책에서 되는게\"해보니 안되내"
print(kl)

ku = "책에서 안되다며 실제로 되면 어찌합니까"
print(ku)
# 파이썬 2버전에선 'lo'와 'ku'안됨

mul = '''
  efdse
  sefds
  efdsty
  '''
print(mul)

dul = """
  grdfg
  yjugfr
  xfbre
  """
print(dul)

# er = '
#   대체
#   왜
#   이런짓을
#   '
# print(er)
# 위 명령어로 실행시 에러발생

# ''는 문자열 출력
# ""는 변수선언(a = "")

# 책에서 되고 실제로 되는것
# '''''', """"""는 문자열이 여러줄일때 쓰임

책에선 된다며'실제론 안되내
책에선 안된다는대 실제론 되내
"책에서 되는게"해보니 안되내
책에서 안되다며 실제로 되면 어찌합니까

  efdse
  sefds
  efdsty


  grdfg
  yjugfr
  xfbre

In [98]:
food = "Python's favorite food is perl"
food
# sood = 'Python's favorite food is perl'
# 영어에 줄여쓰기 위해 작은 따음표 사용시 문자열 오류 발생

"Python's favorite food is perl"

In [31]:
# '''''', """""" 와 문자열 갯수의 관계

ui = '''
     과연
     몇줄
     까지
     가능
     할까
     '''
print(ui)

po = """
     따음표
     갯수와
     상관이
     있는지
     궁금하내
     ㄷㄴㄷㄹ
     ㅅ오
     ㅇ소
     ㅛㅑㅎ표
     햔
     ㅓㅕ쇼
     ㄴㄱㅎ오횰8ㅑ7ㅓㅗㅀ웅ㄴㄳㄴ융ㅈㅎㅇ
     ㄴ36고류ㅗㅗㅜ79ㅐ호ㅓㅡㅇㄳ458ㅅ345347ㄱㄹ혼ㄱ솔손ㄱㅇ손거ㅣㄴ닥소
     ㄴ4ㄳㄴㅇㅎ
     ㄴ4ㅅㅎ
     345ㅇㄴㄹ홏ㄹ허
     54
     1
     2
     3
     4
     5
     6
     7
     8
     9
     10
     11
     12
     13
     14
     15
     16
     17
     18
     19
     20
     21
     22
     23
     24
     25
     26
     27
     28
     29
     30
     """
print(po)

     과연
     몇줄
     까지
     가능
     할까


     따음표
     갯수와
     상관이
     있는지
     궁금하내
     ㄷㄴㄷㄹ
     ㅅ오
     ㅇ소
     ㅛㅑㅎ표
     햔
     ㅓㅕ쇼
     ㄴㄱㅎ오횰8ㅑ7ㅓㅗㅀ웅ㄴㄳㄴ융ㅈㅎㅇ
     ㄴ36고류ㅗㅗㅜ79ㅐ호ㅓㅡㅇㄳ458ㅅ345347ㄱㄹ혼ㄱ솔손ㄱㅇ손거ㅣㄴ닥소
     ㄴ4ㄳㄴㅇㅎ
     ㄴ4ㅅㅎ
     345ㅇㄴㄹ홏ㄹ허
     54
     1
     2
     3
     4
     5
     6
     7
     8
     9
     10
     11
     12
     13
     14
     15
     16
     17
     18
     19
     20
     21
     22
     23
     24
     25
     26
     27
     28
     29
     30

In [68]:
# 문자열로 사칙연산이 일부 가능

a = '123'
b = '321'

# 문자열과 문자열 사칙연산

print(a + b)
# print(a * b)
# print(a ** b)
# print(a / b)
# print(a % b)
# print(a // b)

# 문자열과 숫자 사칙연산

# print(a + 2)
print(a * 2)
# print(a ** 3)
# print(a / 2)
# print(a % 2)
# print(a // 2)

# 두가지 경우만 가능
# 문자열 + 문자열
# 문자열 * 숫자

# 응용
print("§" * 10)
print("my program")
print('▣' * 15)

123321
123123
§§§§§§§§§§
my program
▣▣▣▣▣▣▣▣▣▣▣▣▣▣▣

In [101]:
# 문자열 인덱싱과 슬라싱

# 문자열 인덱싱은 숫자가 부여된 문자열 순서
# 문자열 슬라이싱은 문자열에 부여된 숫자로 나누는것

a = '한글이 과연 인식이 될까'
b = 'Life is too short, you need python'
c = '!@#~#$ #@%$ #@$@#'

a[2]
b[2]
c[2]
a[1], b[3], c[5], b[0], a[1], c[9]
# 마지막 인덱싱만 실행되지만 전부 같은 인덱싱 수치 적용

# print(a[2])
# print(b[2])
# print(c[2])
# 출력 명령어를 같이 사용시 같은 셀의 같은 명령어만 실행이 됨

('글', 'e', '$', 'L', '글', '%')

In [102]:
print(a[2])
print(a[1], b[2])
print(a[5], b[0], c[2])
# 마지막 인덱싱이 아니라 전부 보려면 print() 명령어가 필수

이
글 f
연 L #

In [103]:
# 역순으로 인덱싱 불러올수있다

a[-0], b[-1], c[-2]
# 0번째 수치는 역순으로 진행시 기준이 가장 마지막 인덱싱 기준으로 설정이 안됨

('한', 'n', '@')

In [105]:
# 인덱싱으로 문자열 조합가능

# print(c[2] + a[0] + a[0] + d[10])
# print()기능으로 사칙연산 조합안됨
e = b[12] + c[7] + a[8]
e

's#식'

In [114]:
print(e)

s#식

In [106]:
# 문자열 슬라이싱 범위 설정 가능

a[0:5], b[1:3], c[:5]

# [0:5] 입력시 0번째 이상 5번째 '미만' 문자열 출력됨
#

('한글이 과', 'if', '!@#~#')

In [117]:
z = a[0:5], b[1:3], c[15:]
print(z)
print(a[0:5], b[1:3], c[15:])

('한글이 과', 'if', '@#')
한글이 과 if @#

In [107]:
a[0:-5], b[1:-3], c[:-5]
# 마지막을 음수로 입력시 양수로 정한 숫자부터 뒤에서부터 정한 음수의 숫자만큼 출력

('한글이 과연 인', 'ife is too short, you need pyt', '!@#~#$ #@%$ ')

In [125]:
a[-2:5], b[-1:-3], a[-5:-1], b[-2:-0], b[-2:0]
# 음수에서 양수 순으로 슬라이싱 안됨
# 음수에서 음수로 출력할시 가장 마지막 문자 출력 불가능

('', '', '19피곤', '', '')

In [124]:
# 예제 1

a = '20180919피곤함'

year = a[:4]
day = a[4:8]
feel = a[8:]

print(year)
print(day)
print(feel)

# 예제 2

b = '외 않돼나요'

# b[] = '왜'
# b[2] = '안되'
# 에러발생 단일 객체로는 변경 안됨

# b[:] = '왜'
# b[2:4] = '안되'
# 범위 설정으로도 안됨

b = b[:0] + '왜 안되' + b[4:]

print(b)

# 문자열 슬라이싱 오탈자 생길시 오탈자 범위를 빼고 재 조합 가능
# 슬라이싱 범위 기본 작동 원리는 [X1 이상 : X2 미만]
# 슬라이싱 범위 작동원리 예외 [음수 : 0]

2018
0919
피곤함
왜 안되나요

In [150]:
# 문자열 포매팅

# 예제 숫자(Integer) → 어째서 'd'??

"you eat %d junk food" % 3

print("you eat %d junk food" % 3)

# 예제 문자(String)

'Why Soo %s' % 'Serious?'

print('Why Soo %s' % 'Serious?')

# 예제 변수 선언

sf = '요가북'

"건영은 현재 %s을 보고있다" % sf
print("건영은 현재 %s을 보고있다" % sf)

# 예제 2가지 포메팅 사용

day1 = 19

day2 = '십구'

'%d는 %s' % (day1, day2)
print('%d는 %s' % (day1, day2))
# 이건 오입력 ('%s는 %d' % (day1, day2))
# 입력 정확히!

# 추가 코드 테스트

# %%(퍼센트 코드)
# 단독 사용 못함

# print('건영은 %%확률로 배고파한다' % 100)
# print('건영은 %%확률로 배고파한다' % '백')
# print('건영은 %s%확률로 배고파한다' % '백')
# 퍼센트 코드 없이 포멧코드에 % 집어넣으면 없는 명령어라며 오작동
# print("건영은 %s'%'확률로 배고파한다" % '백')
# "건영은 %s'%'확률로 배고파한다" % '백'
# 문자열 "" 안에 ''를 사용하는 방법으로도 안먹힘
print('건영은 %d%%확률로 배고파한다' % 100)
print('건영은 %s%%확률로 배고파한다' % '백')

# %c(문자 1개, 캐릭터)
# 캐릭터???

you eat 3 junk food
Why Soo Serious?
건영은 현재 요가북을 보고있다
19는 십구
건영은 100%확률로 배고파한다
건영은 백%확률로 배고파한다