<a href="https://colab.research.google.com/github/Naysieze/example/blob/master/Python_Tutorial_00_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Tutorial 00

작성자 : 이희성 <br>
작성일 :

이 연습 파일은 [점프 투 파이썬](https://wikidocs.net/)을 공부하며 작성하였습니다.

##02 파이썬 프로그래밍의 기초, 자료형

### 02 -1 숫자형

####실수형

In [0]:
# 실수형 예제

a = 4.24E10
print(a)

b = 4.24e-10
print(b)

####의문
b의 결과값이 수식 그대로 나옴

In [0]:
# 1.대소문자 차이 확인

a = 4.24E-10
print(a)

b = 4.24e-10
print(b)

In [0]:
# 차이가 없음을 확인

# 2.수식내의 수치 변경

a = 2e-2
print(a)

b = 3.4e-5
print(b)

c = 3e-2
print(c)

d = 2.5e-5
print(d)

e = 2e-5
print(e)

f = 4.6e-2
print(f)

In [0]:
# 뒤에 들어가는 숫자중 2가 들어가는 경우만 정상작동 5는 수식 그대로 출력

# 3.뒷에 들어가는 숫자중 작동 되는 숫자 확인

a = 2.5e-1
print(a)

b = 2.5e-2
print(b)

c = 2.5e-3
print(c)

d = 2.5e-4
print(d)

e = 2.5e-5
print(e)

f = 2.5e-6
print(f)

g = 2.5e-7
print(g)

h = 2.5e-8
print(h)

i = 2.5e-9
print(i)

j = 2.5e-10
print(j)

k = 2.5e-11
print(k)

l = 2.5e-12
print(l)

m = 2.5e-13
print(m)

n = 2.5e-14
print(n)

o = 2.5e-15
print(o)

p = 2.5e-16
print(p)

q = 2.5e-17
print(q)

r = 2.5e-18
print(r)

s = 2.5e-19
print(s)

t = 2.5e-20
print(t)

In [0]:
# -5 이하의 값은 계산되지 않음

# 4.양수도 마찬가지인지 확인

a = 2.5e1
print(a)

b = 2.5e2
print(b)

c = 2.5e3
print(c)

d = 2.5e4
print(d)

e = 2.5e5
print(e)

f = 2.5e6
print(f)

g = 2.5e7
print(g)

h = 2.5e8
print(h)

i = 2.5e9
print(i)

j = 2.5e10
print(j)

k = 2.5e11
print(k)

l = 2.5e12
print(l)

m = 2.5e13
print(m)

n = 2.5e14
print(n)

o = 2.5e15
print(o)

p = 2.5e16
print(p)

q = 2.5e17
print(q)

r = 2.5e18
print(r)

s = 2.5e19
print(s)

t = 2.5e20
print(t)

In [0]:
# 양수를 넣으면 16이상은 계산결과 값이 수치로 나오지 않음

#####결론
*실수형은 10의 배수를 제곱하는 것

*양수를 제곱할시 10까지만 출력가능 16이상은 수식으로 출력

*음수를 제곱할시 -4까지만 출력가능  -5 이하는 수식으로 출력

####8진수와 16진수

In [0]:
# 8진수와 16진수 예제

# # 8진수 예제

a = 0o177
print(a)

# # 16진수 예제

b = 0x8ff
print(b)

c = 0xABC
print(c)

#### 8진수와 16진수에 대한 정보 부족
다양한 시도 불가

####사칙연산

In [0]:
# 사칙연산 예제

a = 3
b = 4

c = a + b
print(c)
# 결과값 7

d = a * b
print(d)
# 결과값 12

e = a / b
print(e)
# 결과값 0.75 '책의 설명에는 정수로 나눌시 소수점은 버림'

f = a / (b*1.0)
print(f)
# 결과값 0.75의 결과값을 그대로 출력할시 강제로 한가지 수를 소수점화 시키면된다

g = a ** b
print(g)
# 결과값 81

h = 7 % 3
print(h)

i = 3 % 7
print(i)
# 결과값 h = 1, i = 3 '나눗셈을 하고 나눠지지 않은 나머지값을 남긴다'

j = 7 / (4*1.0)
print(j)

k = 7 // 4
print(k)

l = -7 // 4
print(l)
# 결과값 j = 1.75, k = 1, l = -2 'k에 쓰인 // 명령어는 나눈값의 소수점 아래값을 반환'
# //의 결과 값이 음수인경우는 더욱 낮은 수로 출력이 된다

####의문
1. e의 결과값에 책의 설명이 맞는가

2. l의 실제 값이 -2에 근사값이여서 -2가 출력이 되는가 -1에 가까우면 -1이 출력이 되는가

In [0]:
# 나눗셈 정수 계산 테스트

a = 1
b = 2
c = 3
d = 4
e = 5

f = e / a
print(f)

g = e / b
print(g)

h = e / c
print(h)

i = e / d
print(i)

In [0]:
# 소수점 이하는 자동생성(2.7버전만 소수점 이하 버려짐)

# 소수점 나누기 테스트

a = 1.1 / 2.3
print(a)

b = 3 / 4.2
print(b)

c = 6.1 / 3
print(c)

In [0]:
# 정수와 정수를 나눌때 나오는 값에 버려지는 소수점들은 정말 버려지는가

# 정수와 정수를 소수점이 나오게 나눈값을 다른 수들과 다른계산을 하여 테스트

a = 5 / 3

b = a + 1.5
print(b)

c = a * 3
print(c)

e = a / 2
print(e)

In [0]:
# // 연산의 소수점에 따른 수치변화 확인

a = 7 // 4
print(a)
# 원래값 1.75

b = 5 // 4
print(b)
# 원래값 1.25

c = 3 // 2
print(c)
# 원래값 1.5

d = -7 // 4
print(d)
# 원래값 -1.75

e = -5 // 4
print(e)
# 원래값 -1.25

f = -3 // 2
print(f)
# 원래값 -1.5

####결론
의문 1 : 정수와 정수로 나눌때 소수점이 완전히 버려짐<br><br>
    *소수점 결과가 필요한경우엔 필수적으로 하나의 정수라도 강제로 소수점 수로 변환 필요<br><br>
의문 2 : 소수점의 수는 모두 올림하여 적용이 됨

###02-2 문자열

In [0]:
# 문자열을 만들때 사용하는 '',  "",  '''''', """"""의 차이를 알아보자

print('ㅇ아른ㄷㅇ')
print("ㅇㄹㄴㄷ")
print('''ㄴㄷㄺㅎ''')
print("""ㄴㄹㄷㄴ""")

hi = 'sefds'
print(hi)
si = '''sefd'''
print(si)
ei = "rgfd"
print(ei)
io = """ftfd"""
print(io)
# 책에선 분명 ''로 변수 선언 작업하면 에러 뜬다며

```
a1 = 'What a beautiful world'
a2 = 'what a 'beautiful world'
a3 = 'what a \'beautiful world'

a4 = 'she said "What does fox say"'
a5 = 'she said 'what does fox say''
a6 = 'she said \'what does fox say\''
```

하나 하나 다 프린트 해볼 것

In [0]:
a1 = 'What a beautiful world'
a1

In [0]:
a2 = 'what a 'beauriful world'
a2

In [0]:
a3 = 'what a \'beautiful world'
a3

In [0]:
a31 = 'what a ''beautiful world'
a31

In [0]:
a32 = 'what a \beauriful world'
print(a32)

a33 = 'what a \ beauriful world'
print(a33)

In [0]:
a4 = 'she said "What does fox say"'
a4

In [0]:
a5 = 'she said 'what does fox say''
a5

In [0]:
a6 = 'she said \'what does fox say\''
a6

In [0]:
li = '파이썬 2에선 안되고\'파이썬 3에서 됨'
print(li)

lo = '파이썬 3에선 되고 파이썬 2에선 안됨'
print(lo)

kl = "\"파이썬 3는 가능\"파이썬 2는 불가능"
print(kl)

ku = "파이썬 2는 불가능 파이썬 3은 가능"
print(ku)
# 파이썬 2버전에선 'lo'와 'ku'안됨

mul = '''
  efdse
  sefds
  efdsty
  '''
print(mul)

dul = """
  grdfg
  yjugfr
  xfbre
  """
print(dul)

# er = '
#   대체
#   왜
#   이런것을
#   '
# print(er)
# 위 명령어로 실행시 에러발생

# ''는 문자열 출력
# ""는 변수선언(a = "")

# 책에서 되고 실제로 되는것
# '''''', """"""는 문자열이 여러줄일때 쓰임

In [0]:
food = "Python's favorite food is perl"
food
# sood = 'Python's favorite food is perl'
# 영어에 줄여쓰기 위해 
작은 따음표 사용시 문자열 오류 발생

In [0]:
# '''''', """""" 와 문자열 갯수의 관계

ui = '''
     과연
     몇줄
     까지
     가능
     할까
     '''
print(ui)

po = """
     따음표
     갯수와
     상관이
     있는지
     궁금하내
     ㄷㄴㄷㄹ
     ㅅ오
     ㅇ소
     ㅛㅑㅎ표
     햔
     ㅓㅕ쇼
     ㄴㄱㅎ오횰8ㅑ7ㅓㅗㅀ웅ㄴㄳㄴ융ㅈㅎㅇ
     ㄴ36고류ㅗㅗㅜ79ㅐ호ㅓㅡㅇㄳ458ㅅ345347ㄱㄹ혼ㄱ솔손ㄱㅇ손거ㅣㄴ닥소
     ㄴ4ㄳㄴㅇㅎ
     ㄴ4ㅅㅎ
     345ㅇㄴㄹ홏ㄹ허
     54
     1
     2
     3
     4
     5
     6
     7
     8
     9
     10
     11
     12
     13
     14
     15
     16
     17
     18
     19
     20
     21
     22
     23
     24
     25
     26
     27
     28
     29
     30
     """
print(po)

In [0]:
# 문자열로 사칙연산이 일부 가능

a = '123'
b = '321'

# 문자열과 문자열 사칙연산

print(a + b)
# print(a * b)
# print(a ** b)
# print(a / b)
# print(a % b)
# print(a // b)

# 문자열과 숫자 사칙연산

# print(a + 2)
print(a * 2)
# print(a ** 3)
# print(a / 2)
# print(a % 2)
# print(a // 2)

# 두가지 경우만 가능
# 문자열 + 문자열
# 문자열 * 숫자

# 응용
print("§" * 10)
print("my program")
print('▣' * 15)

In [0]:
# 문자열 인덱싱과 슬라싱

# 문자열 인덱싱은 숫자가 부여된 문자열 순서
# 문자열 슬라이싱은 문자열에 부여된 숫자로 나누는것

a = '한글이 과연 인식이 될까'
b = 'Life is too short, you need python'
c = '!@#~#$ #@%$ #@$@#'

a[2]
b[2]
c[2]
a[1], b[3], c[5], b[0], a[1], c[9]
# 마지막 인덱싱만 실행되지만 전부 같은 인덱싱 수치 적용

# print(a[2])
# print(b[2])
# print(c[2])
# 출력 명령어를 같이 사용시 같은 셀의 같은 명령어만 실행이 됨

In [0]:
print(a[2])
print(a[1], b[2])
print(a[5], b[0], c[2])
# 마지막 인덱싱이 아니라 전부 보려면 print() 명령어가 필수

In [0]:
# 역순으로 인덱싱 불러올수있다

a[-0], b[-1], c[-2]
# 0번째 수치는 역순으로 진행시 기준이 가장 마지막 인덱싱 기준으로 설정이 안됨
# -1로 하게되면 가장 마지막 인덱싱으로 설정

In [0]:
# 인덱싱으로 문자열 조합가능

# print(c[2] + a[0] + a[0] + d[10])
# print()기능으로 사칙연산 조합안됨
e = b[12] + c[7] + a[8]
e

In [0]:
print(e)

In [0]:
# 문자열 슬라이싱 범위 설정 가능

a[0:5], b[1:3], c[:5]

# [0:5] 입력시 0번째 이상 5번째 '미만' 문자열 출력됨
#

In [0]:
z = a[0:5], b[1:3], c[15:]
print(z)
print(a[0:5], b[1:3], c[15:])

In [0]:
a[0:-5], b[1:-3], c[:-5]
# 마지막을 음수로 입력시 양수로 정한 숫자부터 뒤에서부터 정한 음수의 숫자만큼 출력

In [0]:
a[-2:5], b[-1:-3], a[-5:-1], b[-2:-0], b[-2:0]
# 음수에서 양수 순으로 슬라이싱 안됨
# 음수에서 음수로 출력할시 가장 마지막 문자 출력 불가능

In [0]:
# 예제 1

a = '20180919피곤함'

year = a[:4]
day = a[4:8]
feel = a[8:]

print(year)
print(day)
print(feel)

# 예제 2

b = '외 않돼나요'

# b[] = '왜'
# b[2] = '안되'
# 에러발생 단일 객체로는 변경 안됨

# b[:] = '왜'
# b[2:4] = '안되'
# 범위 설정으로도 안됨

b = b[:0] + '왜 안되' + b[4:]

print(b)

# 문자열 슬라이싱 오탈자 생길시 오탈자 범위를 빼고 재 조합 가능
# 슬라이싱 범위 기본 작동 원리는 [X1 이상 : X2 미만]
# 슬라이싱 범위 작동원리 예외 [음수 : 0]

In [0]:
# 문자열 포매팅

# 예제 숫자(Integer) → 어째서 'd'??

"you eat %d junk food" % 3

print("you eat %d junk food" % 3)

# 예제 문자(String)

'Why Soo %s' % 'Serious?'

print('Why Soo %s' % 'Serious?')

# 예제 변수 선언

sf = '요가북'

"건영은 현재 %s을 보고있다" % sf
print("건영은 현재 %s을 보고있다" % sf)

# 예제 2가지 포메팅 사용

day1 = 19

day2 = '십구'

'%d는 %s' % (day1, day2)
print('%d는 %s' % (day1, day2))
# 이건 오입력 ('%s는 %d' % (day1, day2))
# 입력 정확히!

# 추가 코드 테스트

# %%(퍼센트 코드)
# 단독 사용 못함

# print('건영은 %%확률로 배고파한다' % 100)
# print('건영은 %%확률로 배고파한다' % '백')
# print('건영은 %s%확률로 배고파한다' % '백')
# 퍼센트 코드 없이 포멧코드에 % 집어넣으면 없는 명령어라며 오작동
# print("건영은 %s'%'확률로 배고파한다" % '백')
# "건영은 %s'%'확률로 배고파한다" % '백'
# 문자열 "" 안에 ''를 사용하는 방법으로도 안먹힘
print('건영은 %d%%확률로 배고파한다' % 100)
print('건영은 %s%%확률로 배고파한다' % '백')

# %c(문자 1개, 캐릭터)
# 캐릭터???

In [0]:
# 포멧코드와 숫자 활용하기


#정렬과 공백

a = "%10s" % 'hi.ㄷㄹ'
print(a)

b = '%-10s jane' % "hi.ㅎㄹ"
print(b)

c = 'jane %10s' % 'bye'
print(c)

#소수점 표현하기

d = '%0.4f' % 3.14236424754
print(d)

e = '%10.5f' % 3.14236424754
print(e)

f = '%5.5f' % 12345678.12345678
print(f)

g = '%5.5f' % 11.1
print(g)

h = '%10.5f' % 78.1234567
print(h)

# '%10s', '%-10d'같은경우는 공백만 넣어주는 역활
# "%10.4f"같은 경우는 '10'부분은 전체 문자열 개수를 정하는거고
# 뒤의 '0.4'는 소수점을 몇번째까지 표시할지 정하는것이다
# 그럼 'f'와 'g'는???

In [0]:
# 윗 셀의 'f', 'g'에 관해 확인

# 표시할 문자열 개수와 표시할 소수점 뒷 자리수가 같아서 충돌로 둘다 표시??
# 문자열 수가 낮을때와 문자열수가 많을때와 문자열과 소수점이 같을때 다시 확인

a = "%6.5f" % 12345678.12345678
print(a)

# 소수점만 적용됨 숫자 차이 늘려보기
b = '%6.4f' % 12345678.12345678
print(b)

c = "%8.3f" % 12345678.12345678
print(c)

d = "%9.4f" % 12345678.12345678
print(d)

e = '%10.5f' % 12345678.12345678
print(e)

f = '%13.6f' % 12345678.12345678
print(f)

g = '%15.2f' % 12345678.12345678
print(g)

h = '%13.2f' % 12345678.12345678
print(h)

i = "%7.5f" % 1.12345678
print(i)

j = "%9.6f" % 1.12345678
print(j)

# '%10.5f'라고 하면 총 출력될 문자 개수가 소수점표시인 '.'콤마도 포함하여
# 10개의 숫자를 표시하고 소수점 5자리 수까지 표시한다
# 하지만 '정수'는 몇자리 수이든 생략이 안되기 때문에 반듯이 정수 개수를 넘는
# 수로 세팅해야된다 그리고 콤마도 포함이 됨으로 최소 정수 숫자+.보다 초과된
# 수를 초기 세팅으로 넣어야된다

# 또 다른 의문 a, b, d, e, f, i, j의 소수점 표시 마지막에서 두번째 수가 생략됨

In [0]:
a = '%0.5f' % 0.123456789
print(a)

b = '%0.5f' % 0.111111111
print(b)

c = '%0.5f' % 0.122333444
print(c)

d = '%0.5f' % 0.123335
print(d)

e = '%0.5f' % 0.12345
print(e)

f = '%2.5f' % 0.1234
print(f)

g = '%7.4f' % 0.1234
print(g)

# 입력될 소수점 자리수가 표시될 소수점 자리수보다 많으면 이상현상 발생
# 파이썬 오류?? 또는 올림??
# 소수점 표시 마지막수의 뒷자리수가 4이하일경우는 정상표시, 5이상일 경우는 올림 표시
# 0.2f일경우 '0.124'면 '0.12'표시 '0.125'라면 '0.13'표시f = '%2.5f' % 0.1234

In [0]:
# 포멧 함수를 이용한 포매팅

a = 'I eat {0} apples'.format(3)
print(a)

number = 3

day = 'one'

b = 'I eat {0} apples, you eat {1} apple'.format(number, day)
print(b)

# c = 'you eat {number} apples, i eat {day} apple'
# print(c)

d = 'you eat {number} apples, i eat {day} apple'.format(number = 5, day = 1)
print(d)

# e = 'I eat {number} apples, you eat {0} banana'.format(number = 2, 3)
# print(e)
# e = 'I eat {number} apples, you eat {1} banana'.format(number = 2, 1)
# print(e)

e = 'I eat {number} apples, you eat {0} banana'.format(3, number = 2)
print(e)

f = 'i eat {0} apples, you eat {number} banana'.format(3, number = 3)
print(f)

# 포멧 기능중 {0}과 {number}을 같이 사용할시 코드내의 순서랑 상관없이
# .format({0},{number})순으로 써야 에러 안생김(문자보다 숫자 우선처리인듯)

In [0]:
# 포멧을 이용한 정렬방식

a = "{0:~<10}".format("hi")
print(a)

b = "{0:#>10}".format('hi')
print(b)

c = '{0:^10}'.format('hi')
print(c)

# 포멧을 이용한 소수점표시

y = 3.3426789679

d = '{0:0.4f}'.format(y)
print(d)

e = "{0:@>10.4f}".format(y)
print(e)

# {}보여주는 포멧팅
f = "{{and}}".format()
print(f)

In [0]:
# f문자열 포멧팅

name = '이희성'

age = 29

a = f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
print(a)

b = f'내년에는 나이가{age+1}살이 된다'
print(b)

z = {'name':'이희성', 'age':29}

c = f"내 이름은 {z['name']}이고 나이는 {z['age']}야"
print(c)

In [0]:
# 문자열 관련 함수들

# 문자 개수 세기(count)

a = "hobby"
print(a.count('b'))

# 문자 위치 알려주기(find)

b = "python is the best choice"
print(b.find('b'))
print(b.find('k'))
print(b.find('e'))

# 문자 위치 알려주기 2 (index)

c = 'life is too short'
print(c.index('t'))
# print(c.index('k'))
print(c.index('i'))
# 없는 문자를 찾으면 오류 발생

In [0]:
# 문자열 삽입(join)

a = ','
print(a.join('asdgf'))
print(a.join(':::::'))

# 소문자를 대문자로 변경(upper)

b = "bye"
print(b.upper())

c = 'LioN'
print(c.upper())

# 대문자를 소문자로 변경(lower)

d = "JOIN"
print(d.lower())

e = 'sign'
print(e.lower())

# 왼쪽 공백 지우기(lstrip)

f = "  dog"

print(f.lstrip())

# 오른쪽 공백 지우기(rstrip)

g = 'dog    '

print(g.rstrip())

# 양쪽 공백 지우기(strip)

h = '  small dog   '
print(h.strip())

# 문자열 바꾸기(replace)

ha = "Life is too short"

print(ha.replace('Life', 'your leg'))

# 문자열 나누기(split)

i = 'You look so small'
print(i.split())

j = "a, b, c, d, e, f"
print(j.split())

k = "a:b:c:d"
print(k.split(":"))

In [0]:
# 문자열 예제

# 1. 문자열 출력 1

# print(""점프 투 파이썬" 문제를 풀어보자")
# a = ("점프 투 파이썬" 문제를 풀어보자)
a = '"점프 투 파이썬" 문제를 풀어보자'
print(a)

# 2. 문자열 출력 2

# print(""Life is too short/ You need pytion"")
print("""Life is too short
You need Pytion""")

# 3. 공백 추가

# print("%dPYTHON".%d"          ")
b = "%24s" % 'PYTHON'
print(b)

# 4. 문자열 나누기

pin = "881120-1068234"

print(pin[:6])
print(pin[7:])

# 5. 문자열 인덱싱

pin = '881120-1068234'

# print(pin.index(7))
# print(pin.index(7:8))
# print(pin.index())
print(pin[7])

# 6. 문자열 변경

ex = "1980M1120"

print(ex[4]+ex[:4]+ex[5:])

# 7. 문자열 포멧

c = 'PYTHON'

print("%24s"%"c")

# 8. 문자열 찾기

d = "Life is too short, you need python"

print(c.find("short"))

# print(d.index["short"])

# 9. 문자열 바꾸기 1

ex1 = "a:b:c:d"

print(ex1.replace(":", "#"))

# print(ex1.replace[])

# 10. 문자열 바꾸기2

ex2 = "a:b:c:d"

ex3 = ex2.split(":")

print(ex3)
# ex3 = ex2.split(":"), ex2.join("#")
# ex3 = ex2.split('a','b','c','d')
# ex3 = ex2.split('abcd')

# ex4 = ex3.join("#")
# ex3.join("#")

a1 = "#"

#print(a1.join(ex3))

###02-3 리스트 자료형

In [0]:
# 리스트는 '[]'로 감싸고 구분은 ','로 구분한다

odd = [1, 3, 5, 7, 9]

# 리스트명 = [요소1, 요소2, 요소3.........]

a = []

print(a)

b = list()

print(b)

c = [1, 2, ['life', 'is']]

print(c)

In [0]:
# 리스트의 인덱싱

a = [1, 2, 3, 4, 5]

print(a[0])
print(a[3])
print(a[-1])
# a[]안의 숫자는 a 라는 리스트의 몇번째 요소인지 정하는 것

In [0]:
# 리스트 요소가 수일경우 리스트 요소끼리의 연산가능

print(a[0]+a[2])

print(a[-1] + a[1])

In [0]:
# 리스트 안의 리스트를 만들어 확인

a = [1, 2, 3, ['a', 'b', 'c']]

print(a[0])

print(a[-1])

print(a[3])

# print(a[-1[1]])

print(a[-1],[2])

print(a[-1][2])

# print(a[6])

# 리스트 안의 리스트를 불러오기위해서는
# 리스트 안의 리스트 가있는 인덱스를 설정하고 그 인덱스 안의 리스트 위치를 입력
# 예 리스트[리스트가 있는인덱스][인덱스안의 리스트의 인덱스 위치]
# a[3][1]

# 삼중 인덱싱

b = [1, 2, ['a', 'b', ['python', 'is']]]

print(b[2][2][1])

In [0]:
# 리스트 슬라이싱

a = [1, 2, 3, 4, 5]

print(a[0:2])

# 문자열 슬라이싱 비교

b = '12345'

print(b[0:2])

# 슬라이싱으로 가지고온 값은 인덱스가 아니라 리스트로 분류

In [0]:
# 중첩 리스트 슬라이싱

a = [1, 2 ,3 ,['a', 'b', 'c'], 4, 5]

print(a[3][:2])

In [0]:
# 리스트 연산

a = [1, 2, 3]

b = [4, ['a', 'b', 'c'], 5]

print(a+b)

# print(a[1] + 'hi')
# 타입 다르며 에러발상

print(str(a[2]) + 'hi')

In [0]:
# 리스트 반복(*)

a * 3

In [0]:
# 리스트 내의 인덱스 변경

a = [1, 2, 3, 4]

# print(a[2] = [5, 4, 3, 2, 1])
a[2] = [5, 4, 3, 2, 1]

print(a)

a[3] = 6

print(a)

# 인덱스 변경시 a[] = []로 변경시키면 리스트로 변경되어 입력됨
# 단순 인덱스를 인덱스로 변경시키려면 a[] = 요소 로 입력

In [0]:
# 리스트내의 연속된 인덱스 수정
# # 주의점 새로운 셀에서 다시 변수선언 하지 않고 연속된 인덱스 수정시
# 중복 실행하면 결과 값이 변함으로 반듯이 한번만!!!

print(a[1:2])

# print(a[1:2] = ['a', 'b', 'c'])
a[1:2] = ['a', 'b', 'c']

print(a)

# a[1:2] = [][1, 2, 3, 4]
a[1:2] = [[1, 2, 3, 4]]
# 인덱스 안의 리스트 집어넣을땐 [][]를 이용하면 에러발생 [[]]기능 사용

print(a)

# 리스트 내의 인덱스 수정시 수정 수식을 print() 안에 넣고 사용하면 작동안됨
# 수정후에 print()수식 가능

In [0]:
# 리스트내의 인덱스 삭제 방법

a[1:3] = []

print(a)

In [0]:
# del 함수를 사용하여 인덱스 수정

del a[2]
# del.a[1]
# dela[1]
# a.del(1)
# a.del[1]
# a.del("1")
# a[1].del

print(a)

# del 함수 이용시 띄어쓰기로 분류 해줘야 가능
# del 객체
# find 함수같은 방식으로 작동 안됨

del a[1:3]

print(a)

# 인덱스 슬라이싱(범위설정) 하여 제거 가능

In [0]:
# 리스트에 요소 추가(append)

a = [1, 2, 3, 4, 5]

# print(a.append(4))
a.append(4)

print(a)

# print(a.index(4))

a.append([3, 2, 1])

print(a)

In [0]:
# 리스트 정령(sort)

a = [1, 5, 3, 2, 4]

a.sort()

a

In [0]:
# 리스트 뒤집기(reverse)

a = ['a', 'c', 'e']

a.reverse()

a

In [0]:
# 위치 반환(index)
# 요소의 인덱스 확인

a = [1, 2, 3, 4, 2]

# a.index(2, [1, 4])
# print(a.index(2, [1, [4]]))
print(a.index(2))

# print(a.index(5))
# 없는 요소의 인덱스는 확인 안됨

b = [4, 1, 6, 2, 3, 5]

print(b.index(3))

In [0]:
# 리스트에 요소 삽입(insert)

a = [1, 2 ,3]

a.insert(0, 4)

print(a)

a.insert(1, 3)

print(a)

a.insert(2, [2])

print(a)

In [0]:
# 리스트 요소 제거(remove)

a = [1, 2, 3, [4], 5, 6]

a.remove(2)

print(a)

# a.remove(4)
a.remove([4])
# 리스트 안의 리스트는 []넣어주어 선택해줘야 제거가 됨

print(a)

In [0]:
# 리스트 요소 끄집어내기(pop)

a = [1, 2, 3, 4, 5, 4, 3, 2, 1]

a.pop()

a

# 아무 인덱스도 집어 넣지 않을시 마지막 인덱스만 제거한다

In [0]:
# 인덱스 집어넣을을 때

a = [1, 2, 3, 4, 5, 4, 3, 2, 1]

a.pop(3)

a

In [0]:
# 인덱스 범위 집어넣을 때

a = [1, 2, 3, 4, 5, 4, 3, 2, 1]

# a.pop[:2]

# print(a)

# a.pop([1:])

# print(a)

a[0:5].pop(2)
b = a[0:5].pop(2)
# b = a[0:5].copy()
# b = a.copy()

c = a[0:5]

print(a)
print(b)
print(c)
a.pop(4)
print(a)
print(b)

# pop 만을 이용한 범위 인덱스 범위 정하여 제거는 안됨

In [0]:
# remove 와 pop 과 del의 차이
# remove는 요소만 삭제
# pop은 해당 인덱스의 요소를 삭제하고 요소를 리턴받음
# del은 해당 인덱스의 삭제

In [0]:
# 리스트에 포함된 특정 요소 개수 세기(count)

a = [1, 2, 3, 4, 5, 4, 3, 2, 1]

a.count(4)

In [0]:
# 리스트 확장(extend)

a = [1, 2, 3]

a.extend([4, 5])

print(a)

a.extend([[2, 3]])

print(a)

In [0]:
# 연습문제

# 1. 리스트 인덱싱

a = ['Life', 'is', 'too', 'short', 'you', 'need', 'pytion']

print(a[4], a[2])

# 건영방법

# a1 = a[4] + ' ' + a[2]
# print(a1)

# 2. 리스트 조인

b = ['Life', 'is', 'too', 'short']

# print(b[0] + b[1] + b[2] + b[3])
# print(b[0], b[1], b[2], b[3])
# 위의 방법으로 가능은 하지만 join 함수 사용
# join 사용법
# '연결시킬 내용'.join(b)
print(' '. join(b))
# print(' ', join(b[0], b[1], b[2], b[3]))
print(' '. join(b[1:4]))
# print(' ', join(b[0:3], b[2:4]))

# 3. 리스트의 갯수

c = [1, 2, 3]

# c.len()
len(c)

# 4. 리스트의 append와 extend 차이

d = [1, 2, 3]

d.append([4, 5])

print(d)

d = [1, 2, 3]

d.extend([4, 5])

print(d)

# append는 ()안에 있는 요소를 그대로 리스트안에 집어넣고
# extend는 ([])를 사용해야 리스트안에 추가 가능
# extend에 []없이 리스트안에 요소 삽입하려면 아래와 같이 변수 선언후 진행
# d1 = [1, 2, 3]
# d2 = [4, 5, 6]
# d1.extend(d2)
# print('test : ', d1)
# ----------------------------------------------------
# print(d.append([4, 5]))
# print(d.append([4, 5]))

# d1 = d.append([4, 5])
# print(d1)

# d2 = d.extend([4, 5])
# print(d2)

# 위와 같은 방법으로 실행 하면 결과값이 none으로 나옴

# 5. 리스트 정령

e = [1, 3, 5, 4, 2]

e.sort()

e.reverse()

print(e)

# 6. 리스트 삭제

f = [1, 2, 3, 4, 5]

del f[1]

f.remove(4)

print(f)

# del은 해당 인덱스 제거
# remove는 해당 요소 제거

In [0]:
d1 = ['asdf',1,2,3]

d1.extend(['qwer'])
d1.extend('qwer')

print(d1)

d2 = ['asdf',1,2,3]

d2.extend(['1234'])
d2.extend('1234')

print(d2)

d1 = ['asdf',1,2,3]

d1.extend([4, 5, 6])
# d1.extend(456)
# d1.extend(4,5,6)
# 수를 취급할시 하나의 수는 인식이 안되고 여러가지의 숫자를 넣고 반듯이 ([])를 써야 인식한다
print(d1)

###02-4 튜플 자료형

#### 리스트와 튜플의 차이점
  * 리스트는 []를 이용해 작성이되고
  * 튜플은 ()를 이용해 작성이된다
  * 리스트는 수정이 용이하다
  * 튜플은 입력한 요소를 바꾸지 못한다

In [0]:
# 튜플 요소값 삭제시

tup = (1, 2, 'a', 'b')

del tup[0]

In [0]:
# 튜플 요소값 변경시

tup = (1, 2, 'a', 'b')

tup[0] = 'c'

In [0]:
# 튜플은 입력한 요소변경이 불가능 하지만
# 그외의 작업은 가능하다

In [0]:
# 튜플 인덱싱

tup = (1, 2, 'a', 'b')

print(tup[1])

print(tup[3])

# 튜플 슬라이싱

tup = (1, 2, 'a', 'b')

print(tup[1:3])

# 튜플 연산

tup1 = (1, 2, 'a')
tup2 = ('b', 2, 'c')

print(tup1 + tup2)

print(tup2 * 3)

# print(tup1 - tup2)

In [0]:
# 연습 문제

# 1. 튜플 작성

tup = (3, 3, 3, 3, 3, 3)

# 2. 튜플 변경 오류 설명

# tup = (1, 2, 3)

# tup[1] = 4

# 입력한 코딩은 tup의 1번째 인덱싱의 요소를 4로 바꾸고 입력이 되어있다
# 리스트의 경우에는 1번째 인덱싱인 2가 4로 바뀌어 (1, 4, 3)이 되겠지만
# 튜플은 한번 작성하면 추가 코딩으로 요소 수정이 불가능하다
# 바꾸기 위해서는 직접 튜플 리스트를 수정을 하거나
# 슬라이싱과 새로운 튜플 추가와 튜플끼리 합쳐서 '바뀐것 처럼 보이게는' 만들수는 있다

# 3. 튜플 추가

# tup1 = (1, 2, 3)

# tup2 = (5)

# print(tup1 + tup2)

# tup1 + tup2

# 위의 같은경우에는 에러 발생
# 튜플 리스트 작성시 ()안에 1개의 인덱스만 존재할경우 리스트로 취급이 안됨

tup1 = (1, 2, 3)

tup2 = (4, 5)

print(tup1 + tup2)

tup1 + tup2

# tup1.extend(tup2)
# print(tup1)
# extend로 불가능

###02-5 딕셔너리 자료형

In [0]:
# 딕셔너리는 리스트와 튜플과 다르게 표처럼 {key1 : value1}로 이루어져서
# key 값에 여러 요소와 리스트를 넣을수 있고 key는 index 역활이고
# value는 요소 역활이다
# key와 value가 하나의 리스트 역활을 수행한다

dic = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

a = {1 : 'hi'}

b = {'a' : [1, 2, 3]}

print(dic)

dic

In [0]:
# 딕셔너리 쌍 추가하기

a = {1 : 'a'}

a[2] = 2

print(a)

a[2] = 'b'

print(a)

a['name'] = 'pey'

print(a)

a[4] = [1, 2, 3]

print(a)

a['win?'] = 'pay to win!'

print(a)

a['name'] = 'mai'

print(a)

# a['time'] = 13 : 45
# a['time'] = [13 : 45]
a['time'] = '13 : 45'

print(a)

a[3] = 2222

print(a)

a[7] = 1

print(a)

a
# a[0]
# 딕셔너리가 추가될때는 key가 인덱스 역활을 하기에
# 입력순서에 상관 없이 추가하는 순서대로 입력이 된다
# 딕셔너리 추가시 같은 key가 입력되면 마지막 입력된 key에 할당된 value 값으로 수정

In [0]:
# 딕셔너리 요소 삭제

del a[4]

# del a[2222]

print(a)

a

# del a[key]를 입력하면 해당 요소가 삭제되지만
# del a[value]를 입력하면 에러발생하여 제거가 안된다
# value는 key 안에 있는 값! 리스트 안의 리스트 '[1, [2, 3]]' 에 '[2, 3]'' 비슷한 것

In [0]:
# 딕셔너리에서 key 사용해 value 얻기

test = {'pey' : 10, 'julliet' : 99}

print(test['pey'])

test['julliet']

In [0]:
# 딕셔너리 작성시 주의 사항

a = {1 : 'a', 1 : 'f'}

print(a)

# 같은 key를 여러번 입력하면 마지막 입력된 내용만 인식된다

# b = {[1, 2] : 'cold'}
b = {(1, 2) : (3, 4)}
c = {'cold' : [1, 2]}

print(b)
print(c)
# 딕셔너리에 리스트를 사용할수는 있지만
# value에는 사용가능하고 key에 리스트를 사용할수는 없다
# 하지만 튜플 형식은 Key로 사용할수 있다

In [0]:
# 딕셔너리 함수
# 리스트에 쓰이는 대부분의 함수는 사용하지 못한다

# 1. key 리스트 만들기(keys)

a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

print(a.keys())

print(list(a.keys()))

# 2. value 리스트 만들기(values)

print(a.values())

print(list(a.values()))

# 3. key, value를 튜플로 묶어 나누기(items)

print(a.items())

print(list(a.items()))

# 4. key : value를 전부 지우기(clear)

a.clear()

a

# 5. key로 value 얻기(get)

a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

print(a.get('phone'))

print(a.get('name'))

print(a.get('some'))

# 출력값이 None은 false(실패)이다

print(a.get('foo', 'fighter'))

# 6. 딕셔너리 안에 해당 key가 있는지 확인(in)

test = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

print('name' in test)

print('email' in test)

In [0]:
# 연습문제 만들기

# 1. 딕셔너리 만들기

dic = {'name' : '홍길동', 'birth' : 1128, 'age' : 30}

print(dic)

# 2. 딕셔너리 오류

# x = dic()는 아래와 같이 딕셔너리를 생성 할수 있다
# x = dict(name = "John", age = 36, country = "Norway")

a = dict()

a['name'] = 'python'

a[('a', 'n')] = 'python'

# a[[1]] = 'python'

a[250] = 'python'

print(a)

# 'name' 추가는 문자열을 key 로 사용할 수 있어서 허용되고
# ('a', 'n') 튜플 형식은 딕셔너리의 key 사용이 가능
# [1]의 경우는 리스트이고 리스트는 언제든 함수를 이용해 수정이 가능해
# key 값이 될경우 문제가 생길수 있기 때문에 허용이 안되어 에러 발생의로 추측된다
# 250 추가는 수를 key로 사용할 수 있어서 허용됨

# 3. 딕셔너리 값 추출 1

a = {'a' : 90, 'b' : 80, 'c' : 70}

print(a.get("b"))

del a['b']

print(a)

# a.clear('b')

# print(a)

a.clear()

print(a)

# 4. 딕셔너리 값 추출 2

a = dict(a = 90, b = 80)

print(a)

print(a.get('c', 70))

# 5. 딕셔너리 최소값

dic = dict(a = 90, b = 80, c =75)

# dicmin.min()

dicmin = min(dic.values())

print(dicmin)

# 6. 딕셔너리 리스트 변환

dicit = dict(a = 91, b = 88, c =75)

# dicit.items()
print(list(dicit.items()))

In [0]:
a = {'a' : 90, 'b' : 80, 'c' : 70}

a.get('b')

###02-6 집합 자료형

In [0]:
# 집합(set)관련 작업을 쉽게 하기위한 리스트 변형

# s1 = set(1, 2, 3)
s1 = set([1, 2, 3])

print(s1)

s2 = set('hello')

print(s2)

# s3 = set([1, 2, 3], [4, 5, 6])
# s3 = set([1, 2, 3], 'bye')

# print(s3)

# set을 이용해 요소 요소마다 하나 하나 다 변환 하려면 [] 사용해야 변환 가능
# 문자를 변환하면 중복되는 알파벳 사라지고 순서 섞임
# 인덱싱 없음
# 한번에 하나만 변경 가능

In [0]:
# 인덱싱작업을 위한 집합(set)변환

s1 = set([12, 23, 34])

# 리스트

li = list(s1)

print(li)

print(li[1])

# 튜플

tu = tuple(s1)

print(tu)

print(tu[0])

In [0]:
# 집합 자료형 활용법(집합구하기)

s1 = set([1, 2, 3, 4, 5, 6])

s2 = set([4, 5, 6, 7, 8, 9])

# 1. 교집합

print(s1 & s2)

print(s1.intersection(s2))

# 2. 합집합

print(s1 | s2)

print(s1.union(s2))

# 3. 차집합

print(s1 - s2)

print(s2 - s1)

print(s1.difference(s2))

print(s2.difference(s1))

In [0]:
# set(집합)에 쓰이는 함수

# 1. 값 추가(add)

s1 = set([1, 2, 3])

s1.add(4)
# s1.add([4])
# 이미 set으로 나눠져있기 때문에 [4]라는 리스트를 추가 할수 없다

print(s1)

# 2. 여러개의 값 추가(update)

s2 = set([1, 3, 5])

s2.update([2, 4, 6])

print(s2)

# 3. set에서 값 제거(remove)

s3 = set([7, 6, 5, 4, 3, 2, 1])

s3.remove(6)

print(s3)

# s3.remove(2, 4)
# s3.remove([2, 4])

# print(s3)
# 한번에 두가지 값 제거안됨

In [0]:
# 연습문제

# 1. 집합만들기

# s1 = set('a', 'b', 'c')
# s1 = set(abc)
s1 = set('abc')
s1 = set(['a', 'b', 'c'])

print(s1)

# 2. 집합 중복

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

s2 = set(a)

print(s2)

# 3. 차집합

s1 = set(['ace', 'f', 'bed', 'e', 'want'])
s2 = set(['c', 'd', 'e', 'f', 'g'])

print(s1 - s2)
print(s1.difference(s2))
print(s2 - s1)
print(s2.difference(s1))

# 4. 집합 만들기 2

a = {'a', 'b', 'c'}

print(a)

print(type(a))

b = {}

print(type(b))

c = set()

print(type(c))

# 5. 집합 추가

a = {'a', 'b', 'c'}

a.update('d', 'e', 'f')

a

###02-7 불(bool) 자료

In [0]:
# True(참)과 False(거짓)을 나타내는 자료형이라 True, False 이 두가지 값만 가진다
# 주의 할점은 대소문자르 구별해야된다 true, false로 사용하게 되면 작동이 잘 안됨
# if 함수를 쓸때 조건문으로 들어가는 경유가 있다

# a = True

# b = False

1 == 1

2 > 1

2 < 1

# 자료형의 참과 거짓의 구분은 (" ", [ ], ( ), { })안에 내용물이 없다면 거짓 있다면 참
# 숫자의 참과 거짓은 0일 때 거짓

# 예제 1

a = [1, 2, 3, 4]

while a : print(a.pop())
  
# a의 값이 참일 경우 거짓이 나올때 까지 마지막 요소를 꺼낸다는 코딩

# 예제 2 

if []: print("참")

else: print("거짓")
  
# 예제 3

if [1, 2, 3]: print("참")

else: print("거짓")

In [0]:
# 불 연산

print(bool('python'))

print(bool(''))

print(bool({}))

print(bool(0))

print(bool(1))

print(bool((1)))

In [0]:
# 연습 문제

# 1. 불 자료형과 조건문

print(1 != 1)
# !=는 같지 않다

print(3 > 1)
# True

print('a' in 'abc')
# True

print('a' not in [1, 2, 3])
# True

# 2. bool 연산자

a = "python"
# True

print(bool(a))

b = ""
# False

print(bool(b))


c = (1,2,3)
# True

print(bool(c))

d = 0
# False

print(bool(d))

###02-8 자료형의 값을 저장하는 공간, 변수

In [0]:
# 변수 선언시 =(assignment)로 사용
# 변수명 = 변수에 저장할 값

a = [1, 2, 3]

print(id(a))
# 변수는 메모리에 저장되고 그 저장 리스트 주소를알아낼수 있다

b = a

print(id(a))
print(id(b))

# 이미 변수 선언이 된 값을 다른 변수로 복사하면 새로이 저장 되는것이 아니라
# 저장 되있던 리스트 주소에 있는 값을 변수에 부여하는 것이다

print(a is b)

a[1] = 7

print(a)

print(b)

print(id(a))

print(id(b))

# 변수값을 수정하면 다시 저장하는 것이 아닌 기존에 저장된 리스트 주소에 저장되고
# 복사한 변수도 같이 적용된다

# 복사된 변수를 바꾼다면 새롭게 저장되 다른 변수로 취급되는지 확인

b[1] = 9

print(a)

print(b)

print(id(a))

print(id(b))

# 복사된 변수의 값을 변경하더라도 하나의 변수값을 같이 쓰고있기 때문에
# 원래의 변수도 변경이 된다

print(b is a)

In [0]:
# 복사된 변수를 따로 취급하기 위한 방법

# 1. ':' 이용

a = [1, 2, 3]

b = a[:]

print(a)

print(b)

print(id(a))

print(id(b))

# 서로 다른 리스트 주소로 저장 되는것을 확인

a[1] = 5

print(a)

print(b)

print(b is a)

# 이미 서로 다른 주소로 저장이 되어서 변수 복사한 뒤에 원래 값 수정이 아닌
# 명령어로 수정이 진행 된다면 한쪽만 수정이 됨

# 2. 카피 모듈 이용

a = [1, 2, 3]

from copy import copy

b = copy(a)

print(id(a))

print(id(b))

# b = a[:]와 from copy import copy b = copy(a)랑 같은 방법
# 새로 변수선언을 진행하면 같은 변수명을 사용한다 하더라도 다른 주소에 저장됨

In [0]:
# 변수 만드는 다른 방법

a, b = ('python', 'life')

print(a)

print(b)

(a, b) = 'python', 'knife'

print(a)

print(b)

a, b = 1, 2

print(a)

print(b)

[a, b] = ['python', 'tool']

print(a)

print(b)

a = b = 'python'

print(a)

print(b)

# 각 각 다른 변수명에 할당된 변수값을 서로 바꿀수 있다

a = 3

b = 6

c = 9

print(id(a))
print(id(b))
print(id(c))

a, b, c = c, a, b

print(id(a))
print(id(b))
print(id(c))

print(a)

print(b)

print(c)

# 변수명과 변수값의 연결만 바꾼것 뿐이라 변수값의 주소는 그대로이다

In [0]:
# 연습문제

# 1. 변수와 객체 1

a = [1, 2, 3]

b = [1, 2, 3]

print(a is b)

print(id(a))

print(id(b))

# 같은 값을 변수 선언한 것이라도 명령어를 사용하지 않고 직접 따로 만든 리스트여서
# 다른 리스트 장소에 저장되기 때문에 같은 것이 아니라 False 가 뜬다

# 2. 변수와 객체 2

a = [1, 2, 3]

b = a

print(a is b)

print(id(a))

print(id(b))

# 이미 변수 선언된 값을 복사 명령어를 이용해 새로운 변수명에 연결 시킨 것
# 이라서 서로 같은 값이라고 True가 뜬다

# 3. 객체의 변경

a = b = [1, 2, 3]

a[1] = 5

print(b)

# 복사 명령어를 이용하여 'a' 변수명과 'b' 변수명의 변수값을 같은 것으로 묶었기에
# 어느 한쪽을 수정 하더라도 다른쪽의 값도 같이 변한다

# 4. 리스트 복사 1

a = [1, 2, 3]

b = a[:]

print(a is b)

# a의 값을 복사하여 새로운 주소에 저장시키고 그 값에 b 라는 변수명을 선언 하였기에
# a 와 b 의 값이 달라 False가 뜬다

# 5. 리스트 복사 2

a = [1, 2, 3]

b = a[:]

a[1] = 4

print(a)

print(b)

# a 의 변수값과 같은 값을 b 에 새로이 만들어 넣어 같은 내용물이지만 서로 다르게
# 취급한뒤 a 의 값만 바꾸었기 때문에 a 의 값만 바뀌고 b 의 값은 기존 그대로이다

# 6. 리스트의 더하기와 extend

a = [1, 2, 3]

b = a

c = a[:]

print(id(a))

print(id(b))

print(id(c))

a = a + [4, 5]

print(a)

print(b)

print(c)

print(id(a))

print(id(b))

print(id(c))

print(a + [4, 5])

a = [1, 2, 3]

b = a

c = a[:]

a.extend([6, 7])

print(a)

print(b)

print(c)

print(id(a))

print(id(b))

print(id(c))

# + 수식으로 이용해 리스트 내용을 추가하고 하면 새로운 변수값으로 취급을 하여
# 새로 변수 선언한것으로 취급하여 새로 정하여 개별적으로 취급하게 된다
# extend 로 리스트 내용을 추가하면 기존 저장되있는 변수값을 수정하는것이 되어
# 복사된 변수에 그대로 적용된다

# 리스트 복사 3

a = [1, [2, 3], 4]

b = a[:]

print(a == b)
print(a is b)

a[1][0] = 7

print(a)

print(b)

print(id(a))

print(id(b))

a[0] = 6

print(a)

print(b)

print(id(a))

print(id(b))

print(id(a[1]))

print(id(b[1]))

a[1] = 3

print(a)

print(b)

# 변수 선언시 모든 리스트 값에 id 가 할당되어 리스트 안의 리스트까지 id 가정해지고
# 복사 명령어 인 a[:]와 from copy import copy를 사용하면 복사해서 새로운 id를
# 할당하는것은 첫 리스트이고 나머지 리스트 안의 리스트는 복사해 새로운 id를
# 할당하지 않고 기존 id 를 이용한기 때문에 일어나는 현상

In [0]:
a = [1, [2, 3], 4]

from copy import copy

b = copy(a)

a[1][0] = 7

print(a)

print(b)

print(id(a))

print(id(b))

a[0] = 6

print(a)

print(b)

print(id(a))

print(id(b))

print(id(a[1]))

print(id(b[1]))

a[1] = 3

print(a)

print(b)

In [0]:
a = [1, 2, [3, 4], 5]

b = a

print(id(a))

print(id(b))

print(id(a[2]))

print(id(b[2]))

a[2][0] = 6

print(id(a))

print(id(b))

print(id(a[2]))

print(id(b[2]))

a[2] = 3

print(id(a))

print(id(b))

print(id(a[2]))

print(id(b[2]))

In [0]:
a.__repr__
# a[1][0].__repr__

##03 프로그램의 구조를 쌓는다! 제어문

###03-1 if문

In [0]:
# if문은 조건에 맞는 처리를 위해 사용한다
# '조건1' 이 '조건 2' 에 True면 작동
# else는 '조건1' 이 '조건 2" 에 Flase이면 작동

money = 1

if money :
  
    print("택시를 타고 가라")
    
else : 
  
    print('걸어 가라')

# money가 True이면 택시를 타고 가라 False이면 걸어가라 라는 명령어
# 들여쓰기(indentation)을 구분 해줘야 에러 발생하지 않음

# 에러발생경우 1

# if 조건문 :
#     수행 문장 1
# 수행문장 2
#           수행문장 3

# 에러 발생경우 2

# if 조건문 :  
#       수행문장 1
    
#     else : 조건문 :        
#         수행문장

In [0]:
# 비교 연산자
# <, >, ==, !=, >=, <=

money = 100000

if money <= 99999 :
      print("돈을 아껴야되요!")
    
else :
      print("오늘은 치느님!")

In [0]:
# and, or, not 연산자

money = 3000

card = 1

if money >= 30000 or card :
      print("오늘 쯤이야!")
    
if money <= 30000 and card :
      print("어떻게 할까...?")
    
if not card : 
      print('고민좀')
    
else :
      print(".....")

In [0]:
# x in s, x not in s
# s는 리스트[], 튜플(), 문자열이 가능하다

print(1 in [1, 2, 3])

print(1 not in [1, 2, 3])

pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket : 
      print('밥 먹는다')
    
if 'cellphone' in pocket :
      print('전화 한다')

else :
      print("쉰다")
    
pocket = ['paper', 'ellphone', 'oney']

if 'money' in pocket : 
      print('밥 먹는다')
    
else :
      if 'cellphone' in pocket :
            print('전화 한다')
      else :
            print("쉰다")

In [0]:
# 조건문 사용시 해당되는 조건이 있어도 작동을 하지 않게 할때는 pass 를 사용한면된다

pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket : 
      pass

else :
      print("쉰다")

# money 조건이 있지만 pass를 해서 출력이 안되고 else에도 해당되지 않기에
# 아무것도 출력이 안된다

In [0]:
# 다양한 조건을 판단해 한가지를 출력할때 사용하는 elif
# if와 else 만을 이용해 출력할경우 들여쓰기 때문에 코딩이 난잡해질수 있다
# else는 들여쓰기(indentation) 되지 않은 곳엔 한번만 사용가능
# elif는 들여쓰기(indentation) 되지 않은 곳에 여러번 사용가능

pocket = ['paper', 'cellphone']

card = 0

if 'money' in pocket :
      print('오 돈이다!')
    
elif card :
      print("카드 너무 많이 쓴거 같아...")
    
else :
      print('돈 부족하내')

In [0]:
# if 문을 간략하게 작성할수도 있다

pocket = ['paper', 'cellphone']

if 'money' in pocket :
      pass
  
else :
  print('카드를 꺼내라')
  
# 위의 코딩을 아래와 같이 해도 정상 작동된다

if 'money' in pocket : pass
else : print('꺼내라 카드를')
  
# 간단한 조건부 표현식 경우 한줄로 바꿀 수도 있다

score = 57

if score >= 60 :
      message = 'success'
    
else :
      message = 'failure'
    
print(message)
    
message = 'success' if score >= 60 else 'failure'

print(message)

In [0]:
# 연습 문제

# 1. 조건문 1

money = 5000
card = False

if money >= 4000 or card : 
      print('택시 타기')

else :
      print('걸어가기')
    
# 2. 조건문 2

lucky_list = [1, 9, 23, 46]

if 23 in lucky_list :
      print("야호")
# if lucky_list in 23 :

else :
      print('아깝다!')
    
# 3. 홀수 짝수 판별

num = 2

if num % 2 >= 1 :
      print("홀수")
    
else :
      print('짝수')
    
# 4. 문자열 분석

age = 29

tall = 180

if age < 30 and tall >= 175 :
      print('yes')
    
else :
      print('no')
    
# 5. 조건문 3

a = 'Life is too short, you need python'

if 'wife' in a :
      print('wife')
    
elif 'python' in a and 'you' not in a :
      print('python')

elif 'shirt' not in a :
      print('python')
    
elif 'need' in a :
      print('need')
    
else :
      print('none')
    
# wife 라는 단어가 a 에 없기 때문에 다음명령어로 넘어가고
# python 이 있지만 you 가 없어야 python 이 출력 되는대 you 가 있어 다음으로 넘어간다
# shirt 가 없으면 python이 출력 된다고 되있고 a 에 shirt 가 없으니 python 이 출력 
# 만약 shirt 가 있으면 다음으로 넘어가고 need 가 있으니 need 가 출력 될것이다
# 아무런 조건도 만족시키지 못하였으면 none이 출력 될것이다

###03 -2 while문

In [0]:
# while문의 기본 구조

# while 조건문 :
#       수행문 1
#       수행문 2

# 정해진만큼 반복수행하는 문장이다

treehit = 0

while treehit < 10 :
      treehit = treehit + 1
      print('나무를 %d번 찍었습니다.' % treehit)
      if treehit == 10 :
            print('나무가 넘어간다.')
          
# treehit은 0이다 
# treehit이 10 작은 숫자일 동안 반복실행해라
# treehit에 +1 이 될것이다
# 나무를 treehit의 값 만큼 찍었습니다를 출력해라
# threehit이 10이 되면 나무가 넘어간다를 출력해라

In [0]:
# while문 직접 만들기

prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number : """

number = "하하"

while number != 4 :
# while number != 4 or != 'Quit' or != 'quit' :
# 작동 안됨
# while number != 4 or number != 'Quit' or number != 'quit' :
# 작동은 되지만 밑의 number = int(input())에 수만 입력됨
# int(input())안에 입력된것은 입력란에 이름을 정해주는것
      print(prompt)
      number = int(input())
      
# 숫자가 4가 아니면 반복실행해라
# prompt를 출력하는 것을
# 변수 number은 입력가능한 것
# 직접 입력하게 하는 변수는 뭐가 들어가든 변수만 선언 되면 된다

In [0]:
# while문 강제로 빠져나가기(break)

coffee = 10

money = 300

while money :
      print('돈 들어왔으니 커피를 줍니다')
      coffee = coffee -1
      print('남은 커피 양은 %d개 입니다' % coffee)
      if not coffee :
            print('커피가 다 떨어졌으니, 관리자에게 이야기 하십시요')
            break

In [0]:
# 자판기 작동 과정

# coffee = 10

# while True :
#     money = int(input('insert coin'))
#     if money == 300 :
#           print('커피가 나옵니다')
#           coffee = coffee -1
#     elif money > 300 :
#           print("거스름돈 %d를 주고 커피를 줍니다." % (money - 300))
#           coffee = coffee -1
#     else :
#           print('돈이 모자니 돈을 돌려주고 커피를 주지 않습니다')
#           print('남은 커피양은 %d개 입니다' % coffee)
#     if not coffee :
#           print('커피가 다 떨어졌습니다. 다음에 다시 오십시오')
#           break

coffee = 10

while True :
    money = int(input('insert coin'))
    if money == 300 :
          print('커피가 나옵니다')
          coffee = coffee -1
    elif money > 300 :
          print("거스름돈 %d를 주고 커피를 줍니다." % (money - 300))
          coffee = coffee -1
    else :
          print('돈이 모자랍니다 %d원만큼 더 넣어 주십시오' % (300 - money))
          print('남은 커피양은 %d개 입니다' % coffee)
    if not coffee :
          print('커피가 다 떨어졌습니다. 다음에 다시 오십시오')
          break
          
# 돈이 모자라면 돈먹는 커피 머신이 완성 되었다

In [0]:
# C:\doit>python coffee.py
# File "coffee.py", line 9
# SyntaxError: (unicode error) 'utf-8' codec can't decode byte 0xb9 in position 0:
# invalid start byte
# 위와 같은 에러는 파이썬3 인코딩 타입 에러 utf-8로 사용하면 대부분 발생하지 않는다

In [0]:
# while문의 맨 처음으로 돌아가기(countinue)

a = 0

while a < 10:
      a = a+1
      if a % 2 == 0 :
        continue
      print(a)
      
# continue는 해당 값이 True일경우 처음부터 재실행하고
# 해당 값이 False일 경우 다음으로 넘어간다

In [0]:

a = 0

while a < 10:
      a = a+1
      if a % 2 == 0:
          print(a)

In [0]:
# while 무한 루프

while True :
      print('메시지 폭탄!, 멈추려면  ctrl + m i, 일반적인경우는 ctrl = c')

In [0]:
# 연습문제

# 1. 1부터 100까지 더하기

a = 0
b = 0

while a < 100 :
      a = a + 1
      b = b + a
      if a == 100 :
           print(b)
          
# 2. 1부터 1000까지의 자연수중 3의 배수의 합을 구하라
          
# c = 1
# d = 0

# while c < 1000 :
#       c = c * 3
#       d = d + c
#       if c == 999 :
#           print(d)
# 새로운 셀에서 작업해도 작동 안됨

c = 1
d = 0
      
while c :
      c = c * 3
      d = d + c
      if not c < 1000 :
          print(d)
          break
          
# 3. 50점 이상의 총합

e = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

f = 0

g = []

while f < len(e) :
      if e[f] < 50 :
            f = f + 1
      elif e[f] >= 50 :
            f1 = e[f]
            g.append(f1)
            f = f + 1
            print(g)
#       elif f >= len(e) :
#             h = sum(g)
#             print(h)
# while e :
#     g = e.pop()
#     if g >= 50 :
#         f += g

# print(f)

h = sum(g)
print(h)

# 4. 별 표시하기 1

star = 0

star1 = '*'

star2 = '*'

while star < 4 :
    star = star + 1
    print(star2)
    star2 = star2 + star1
    
# 5. 별 표시하기 2

star = 0

star1 = "*******"

# star2 = '**'

# star1.strip("*")

# print(star1)

# star1.find('*')
# len(star1)

# while star > 4 :
#     star = star + 1
#     star1[0]

star = 7

star1 = 0

while star > 0 :
    print(" " * star1 + "*" * star)
    star -= 2
    star1 += 1

In [0]:
empty = " "
star = "*"
num = 1

while num < 8 :
    print(star * num)
    num = num + 2
while num > 0 :
    print(star * num)
    num = num - 2

In [0]:
empty = " "
star = "*"
num = 1
num2 = 7

while num < 9 :
    print(empty * num2 + star * num)
    num = num + 2
    num2 = num2 - 1
while num > 0 :
    print(empty * num2 + star * num)
    num = num - 2
    num2 = num2 + 1

In [0]:
empty = " "
star = "*"
num = 1

while num < 5 :
    print(empty * (10 - num) + star * num)
    num = num + 2
while num > 0 :
    print(empty * (10 - num) + star * num)
    num = num - 2

In [0]:
print()

In [0]:
empty = " "
star = "*"
num = 1

while num < 8 :
    print(star)
    num = num + 2

num = 0
emp = 7
sta = 1

while num < 4 :
    num = num + 1
    print(empty * emp + star * sta)
    emp = emp - 1
    sta = sta + 2
while num < 9 :
    num = num + 1
    print(empty * emp + star * sta)
    emp = emp + 1
    sta = sta - 2

# print(empty*7 + star*1)
# print(empty*6 + star*3)
# print(empty*5 + star*5)
# print(empty*4 + star*7)
# print(empty*5 + star*5)
# print(empty*6 + star*3)
# print(empty*7 + star*1)

# num = 0
# emp = 7
# sta = 1

# while num < 8 :
#     num = num + 1
#     if num < 5 :
#         print(empty * emp + star * sta)
#         emp = emp - 1
#         sta = sta + 2
#     else :
#         emp = emp + 1
#         sta = sta - 2
#         print(empty * emp + star * sta)

In [0]:
# 

star = 0

star1 = "*******"

# star2 = '**'

# star1.strip("*")

# print(star1)

# star1.find('*')
# len(star1)

# while star > 4 :
#     star = star + 1
#     star1[0]

star = 7

star1 = 0

while star > 0 :
    print(" " * star1 + "*" * star)
    star -= 2
    star1 += 1

###03-3 for문

In [0]:
# for 변수 in 리스트(듀플, 문자열) :
#     수행문1
#     수행문2

test_list = ['one', 'two', 'three']

for i in test_list :
    print(i)
    
a = [(1, 2), (3, 4), (5, 6)]

for (first, last) in a :
    print(first + last)
#     print(first)
#     print(last)

In [0]:
# for 응용문

marks = [90, 25, 67, 45, 80]

number = 0

for mark in marks :
    number = number + 1
    if mark >= 60 :
        print('%d번 학생은 합격입니다.' % number)
    else :
        print('%d번 학생은 불합격입니다.' % number)

In [0]:
# for과 함께 자주 쓰는 range 함수

a = range(10)

print(a)

b = range(1, 11)

print(b)
# 마지막 숫자는 print()로 출력이 되지만 미만으로 설정되어 포함되지 않는다

sum = 0

for i in range(1, 11) :
    sum = sum + i
    
print(sum)

In [0]:
marks = [90, 25, 67, 45, 80]

# number = 0

for number in range(len(marks)) :
# for number in len(marks) :
# range 지우면 작동이 안됨
    if marks[number] < 60 :
#         continue
        print("%d번 학생 축하합니다. 합격입니다." % (number + 1))
    else :
        print("%d번 학생 아쉽게 불합격입니다." % (number + 1))

In [0]:
score = [90, 25, 67, 45, 80]

number = 0

for scores in score :
    number = number + 1
    if scores < 60 :
        continue
        print("%d번 학생 축하합니다. 합격입니다." % number)

In [0]:
marks = [90, 25, 67, 45, 80]

number = 0 
for mark in marks: 
    number = number +1 
    if mark < 60: continue 
    print("%d번 학생 축하합니다. 합격입니다. " % number)

In [0]:
# for과 range로 구구단

for i in range(2, 10) :
    for j in range(1, 10) :
        print(i * j, end = ", ")
    print('')

In [0]:
# list 안에 for 집어넣기

a = [1, 2, 3, 4]

result = []

for num in a :
    result.append(num * 3)
print(result)

# 위 내용을 간단하게 줄일수있다

result1 = [num1 * 3 for num1 in a]
print(result1)

# 간단한 조건문도 추가 가능하다

result2 = [num2 * 3 for num2 in a if num % 2 == 0]
print(result2)

# 2가지 이상의 조건문을 넣을수 있다 ':' 는 사용하지 않는다

result3 = [a * b for a in range(2, 10)
                 for b in range(1, 10)]
print(result3)

In [0]:
# 예제 1

# 1부터 100까지 for문 이용해 출력

test1 = range(1, 101)

a = 0

for num in test1 :
    if num < 101 :
        a = a + 1
    print(a, end = ", ")

In [0]:
# 예제 2

# 1~ 1000까지의 5의 배수의 총합

test2 = range(1, 1001)

b = 0

for num in test2 :
    if num % 5 == 0 :
        b = b + num
print(b)

# test2_1 = [sum(x) for x in range(1, 1001) if x % 5 == 0]

# print(test2_1)

test2_1 = [x for x in range(1, 1001) if x % 5 == 0]

print(sum(test2_1))

In [0]:
b =[]
b=8
print(b)

In [0]:
# 예제 3

# for문을 이용한 평균 점수

A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

B = 0

l = 0

print(sum(A) / len(A))

for c in A :
    B = B + c
    l = l + 1
#     B.append(A)

print(B/l)

In [0]:
# 예제 4

# for문을 이용한 혈핵형별 인원 정리

test4 = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

A = []

B = []

AB = []

O = []

# for blood in test4 :
#     if blood == ['A'] :
#         A.append(blood)
#     elif blood == ['b'] :
#         B.append(blood)
#     elif blood == ['AB'] :
#         AB.append(blood)
#     else :
#         O.append(blood)
        
# print(A)
# print("A형은 %d명입니다" % len(A))

for blood in test4 :
    if blood == 'A' :
        A.append(blood)
    elif blood == 'B' :
        B.append(blood)
    elif blood == 'AB' :
        AB.append(blood)
    else :
        O.append(blood)

# for blood in range(len(test4)) :
#     if test4[blood] == 'A' :
#         A.append(blood)
#     elif test4[blood] == 'B' :
#         B.append(blood)
#     elif test4[blood] == 'AB' :
#         AB.append(blood)
#     else :
#         O.append(blood)

# for blood in range(len(test4)) :
#     if test4[blood] == 'A' :
#         A.extend(blood)
#     elif test4[blood] == 'B' :
#         B.extend(blood)
#     elif test4[blood] == 'AB' :
#         AB.extend(blood)
#     else :
#         O.extend(blood)


print(A)
print("A형은 %d명입니다" % len(A))
print(B)
print("B형은 %d명입니다" % len(B))
print(AB)
print("AB형은 %d명입니다" % len(AB))
print(O)
print("O형은 %d명입니다" % len(O))

In [0]:
# 예제 5

# 짜여진 코드를 list comprehension(리스트 내포)을 활용해 표현하시오

numbers = [1, 2, 3, 4, 5]

result = []

for n in numbers :
    if n % 2 == 1 :
        result.append (n*2)
print(result)
        
test5 = [x * 2 for x in numbers if x % 2 == 1]

print (test5)

In [0]:
# 예제 6

# 다음 문장에서 list comprehension을 활용해 모음('aeiou')를 제거 하시오

# test6 = set('Life is too short, you need python')

test6 = 'Life is too short, you need python'

ltest = list(test6)

print(ltest)

d = []

for word in ltest :
    if word == "a" :
        continue
    elif word == 'e' :
        continue
    elif word == "i" :
        continue
    elif word == 'o' :
        continue
    elif word == 'u' :
        continue
    else :
        d.append(word)
print(''.join(d))
        
# word = list(test6)

# print(word)

# a = [sum(b) for b in word if ]

# for text in range(len(test6)) :
#     if test6[text] = 'a' :
#         continue
#     elif test6[text] = 'e' :
#         continue
#     elif test6[text] = 'i' :
#         continue
#     elif test6[text] = 'o' :
#         continue
#     elif test6[text] = 'u' :
#         continue
#     else :

##04 프로그램의 입력과 출력은 어떻게 해야 할까?

###04-1 함수

In [0]:
# 파이썬의 함수 구조

# def 함수명(매개변수):
#     <수행문 1>
#     <수행문 2>

def sum1(a, b) :
    return a + b
# 함수를 사용할것이고 사용함수는 sum 이고 사용되는 매개변수는 a, b 다.

a = 3
b = 4
c = sum1(a, b)
print(c)
print(a + b)
print(sum1(a, b))

# def 함수를 비화성화 해도 같은 결과가 나오는대 무슨 차이일까?

In [0]:
# 입력값과 결과값에 따른 함수의 형태

# 입력값 ----> 함수 ----> 리턴값

In [0]:
# 일반적 함수

# def 함수이름(매개변수) :
#     <수행문>
#     return 결과값

def sum1(a, b) :
    result = a + b
    return result

a = sum1(3, 4)
b = 5

print(a)
# print(sum())
# print(result)
# 에러발생
# sum을 단독으로 사용하는 것과 차이점이 안보임

# 결과값을 받을 변수 = 함수명수 1, 입력 인수 2

In [0]:
# 입력값이 없는 함수

def say1() :
    return 'Hi'

a = say1()

print(a)

# 결과값을 받을 변수 = 함수명()

def say1(b, c) :
    d = b + c
    return "sleep"
    return d
# 수행문에 무엇을 넣든 return 값을 엉뚱한것을 넣으면 엉뚱한 값이 출력
# return을 여러개 넣는다 하여도 첫번째 return만 인식

b = 3
# c = "5"
c = 5
e = say1(b, c)

print(d)
print(e)
# 변수를 미리 선언하는 것이랑 비슷함??
# 타입이 다를경우 에러발생

print(b)
print(c)

In [25]:
# 결과값이 없는 함수

def sum1(a, b) :
    print('%d, %d의 합은 %d입니다.' % (a, b, a + b))
    
sum1(5, 6)

# 함수명(입력 인수1, 입력인수2, ...)

# # return값이 없으면 결과값이 없다 print는 수행문 취급

c = sum1(4, 5)

print(c)
# return을 사용하지 않았기에 최종값이 없어서 None이 나온다 
# def 함수(매개변수)는 일반적인 변수선언보다 상위 변수선언으로 보임

5, 6의 합은 11입니다.
4, 5의 합은 9입니다.
None

In [23]:
# 입력값과 결과값 두가지가 다 없는 경우

def sayzz() :
    print('Bye')
    
sayzz()

Bye

In [0]:
# 매개변수 지정하여 호출하기

def sum1(a, b) :
    return a + b

print(sum1(a = 3, b = 10)) # a에 인수 3, b에 인수 7을 전달
print(sum1(b = 5, a = 4))

# 매개변수 순서는 바뀌어도 작동에 문제는 없다

print(sum1(9, 8))
# 위와 같은 경우는 순서가 바뀌면 매개변수 값이 달라지긴 하지만
# 매개변수를 지정하는 이유는..?

def sum1(a, b, c, d) :
    return(a + b + c + d)

print(sum1(1, 2, 3, 4))
# print(sum1(3, 4, 2))
# print(sum1(1, 2, 3, 4, 5))
# print(sum1(d = 3, 2, 1))
# print(sum1(d = 3, 2, 1, 4))
# print(sum1(a = 3, 2, 1, 4))

# 특정 매개변수만 지정하여 호출은 안됨 하려면 모든 매개변수를 지정

In [0]:
# print(sum1(3, 4, 2))
# print(sum1(1, 2, 3, 4, 5))

# 이미 def를 이용해 함수를 사용한다 선언 하면 뒤에 정해진 틀 안에서
# 사용하지 않으면 무조건 에러발생 다른셀에서 사용해도 마찬가지

In [0]:
# 입력값이 몇 개가 될지 모를 때에 사용법

# def 함수이름(*매개변수) :
#     <수행문>
# * 를 사용해 매개변수를 지정하면 "튜플"로 취급

def sum_many(*args) :
    sum = 0
    for i in args :
        sum = sum + i
    return sum
# args = arguments(인수)의 약자이고 원하는 매개변수를 넣으면 된다

result = sum_many(1, 2, 3)
print(result)

result = sum_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

In [0]:
# sum_many(*args) 처럼 함수의 인수로 *args(매개변수)만 사용할수 있는건 아니다

def sum_mul(choice, *args) :
    if choice == 'sum' :
        result = 0
        for i in args :
            result = result + i
    elif choice == 'mul' :
        result = 1
        for i in args :
            result = result * i
    return result
# 함수의 인수로 *args만 사용할수 있는게 아니라면서 사용이 된 예시

result = sum_mul('sum', 1, 2, 3, 4, 5)
print(result)

result = sum_mul('mul', 1, 2, 3, 4, 5)
print(result)
# 함수의 인수로 *매개변수를 사용안한다는 예시인대 사용되었고
# 보기에는 특정 동작을 위해 동작 조건에 문자를 넣은 응용 예시로 보인다

In [0]:
# 키워드 파라미터 kwargs

# *와 달리 **를 사용한것은 keyword arguments이다

def func(**kwargs) :
    print(kwargs)
    
func(a = 1)

func(name = 'foo', age = 3)

# ** 는 딕셔너리로 생성이 된다

# func(1, 2, 3, name = 'foo', age = 3)
# ** 만 들어간 경우는 딕셔너리만 입력이 된다

def func(*args, **kwargs) :
    print(args)
    print(kwargs)
    
func(1, 2, 3, 4, name = 'good', age = 2)

# 입력값이 정해지지 않은 튜플과 딕셔너리 둘다 사용이 가능하다

# func (name = 'soo', 1, 2, 3, age = "old")
# 순서가 맞지 않으면 에러 발생

In [0]:
# 함수의 결과값은 언제나 하나

def sum_and_mul(a, b) :
    return a + b, a * b

result = sum_and_mul(3, 4)

print(result)

# 결과값을 2개 이상의 결과값 처럼 보이려면

m1, m2 = sum_and_mul(3, 4)

print(m1)
print(m2)

In [0]:
# return의 다른 사용법

# 함수에서 빠져나기가 위해 사용할수 있다

def say_nick(nick) :
    if nick == '야호' :
        return
    print('너는 %s니?' % nick)
    
say_nick('야호')
say_nick('바보')

# 함수에서 빠져나간다는 것은 return값을 받는경우에만 동작하지 않는 다는 것
# 아예 함수를 멈춘다는 뜻은 아니다

In [0]:
# 두개의 return 값이 다른 위치에 있는 경우

def say_what(nick) :
    if nick == '야호' :
        return
    return print('너는 %s니?' % nick)

say_what('야호')
say_what('바보')

z = say_what('어디있')

print(z)

# return은 어느 위치에 있던 몇번 들어가던 같은 함수안에 첫번째 사용된것만 값으로 인식

In [0]:
# 매개변수에 초기값 미리 설정하기

def say_my(name, old, man = True) :
    print('나의 이름은 %s 입니다' % name)
    print('나의 나이는 %d살입니다' % old)
    if man :
        print('백수입니다.')
    else :
        print('직장인입니다.')
        
say_my('이희성', 29)
# 초기값이 True이기 때문에 백수라고 출력이 된다

say_my('이희성', 29, False)

say_my('이희성', True) # old에 해당되는 값을 자동으로 1로 넣어 출력

say_my(29, False)
# 포매팅내용이 문자만 출력되게 해놓았는대 인수를 문자로 취급 old는 0으로 할당

say_my(29, 29, False)
# 문자열 포매팅 이용시 인수를 자동으로 문자로 변환 반대상황의 경우 에러발생

# say_my(123, "하하")

# say_my(100)

# say_my('이희성')

# 매개변수를 부족하게 넣어도 원하는대로는 아니지만 작동이 된다
# 단 1개의 변수만 넣으면 에러발생

In [0]:
# 함수 매개변수 초기값 설정시 주의점

def say_my(name, man = True, old) :
    print('나의 이름은 %s 입니다' % name)
    print('나의 나이는 %d살입니다' % old)
    if man :
        print('백수입니다.')
    else :
        print('직장인입니다.')
        
say_my('이희성', 29)

say_my('이희성', True, 29)

# 매개변수 초기값 설정하지 않은 매개변수는 초기 설정한 매개변수 앞이나 중간엔
# 사용하지 못하고 가장 마지막에만 사용가능하다

In [6]:
# 함수 안에서 선언된 변수의 적용 범위

a = 1

def vartest(a) :
    a = a + 1
    return a
    
vartest(a)

print(a)

a = 2

print(a)

vartest(3)

print(a)

print(vartest(a))

# 함수에서 선언된변수와 함수 밖에서 선언된 변수는 다른 취급
# 함수안에서 선언된 변수를 사용하려면 함수명과 매개변수를 꼭 같이 사용해야된다

1
2
2
3

In [8]:
# 에러 나는 경우

def vartest(aplok):
    aplok = aplok + 1

vartest(3)
print(aplok)

# 함수안의 매개변수 apolk와 다르게 print의 apolk는 변수 선언이 안되있어 에러 발생

NameError: ignored

In [24]:
# 함수 안에서 함수 밖의 변수 변경하는 방법

# 01. return 이용하기

a = 1

def vartest(a) :
    a = a + 1
    return a

a = vartest(a)

print(a)

# 02. global 이용하기

zzzzz = 1

def vartest() :
    global zzzzz
    zzzzz = zzzzz + 1
    
vartest()

print(zzzzz)

2
2

In [22]:
# 다른 함수 lambda

# lambda 매개변수 1, 매개변수 2, .... : 매개변수를 이용한 표현식

sum = lambda a, b : a + b

print(sum(3, 4))

# def sum(a, b) :
#     return a + b
# 위의 def 함수와 동일하다
# lambda는 def를 간결하게 사용하기 위해 쓰인다

myList = [lambda a, b : a + b, lambda a, b : a * b]

print(myList)

print(myList[0])

print(myList[0](3, 4))

print(myList[1](3, 4))

# def는 튜플과 딕셔너리를 사용할수 있고 lambda는 리스트를 사용할수있다

7
[<function <lambda> at 0x7f3abbcb1ae8>, <function <lambda> at 0x7f3abbcb1c80>]
<function <lambda> at 0x7f3abbcb1ae8>
7
12

In [27]:
# 예제 1

# 주어진 수가 홀수인지 짝수인지 판별하기 (is_odd 함수로 작성)

def is_odd(a) :
    if a % 2 == 0 :
        print('짝수')
    if a % 2 == 1 :
        print('홀수')
        
is_odd(14)

짝수

In [52]:
# 예제 2

# 구구단 출력 n(2 ~ 9)의 자연수 받는 n에 해당하는 함수 작성

def googoodan(a, b) :
    print(a * b)
    
googoodan(3, 5)

def googoodan(a) :
    b0 = a * 2
    b1 = a * 3
    b2 = a * 4
    b3 = a * 5
    b4 = a * 6
    b5 = a * 7
    b6 = a * 8
    b7 = a * 9
    return print(b0, b1, b2, b3, b4, b5, b6, b7)

googoodan(5)

b = [2, 3, 4, 5, 6, 7, 8, 9]
b1 = []

def googoodan(a) :
    for c in b :
        d = a * c
        b1.append(d)
#     print(' '.join(b1))
#     ' '.join(b1)
#     return b2
    print(b1)
#     return " ".join(b1)
    
    
googoodan(4)

def googoodan(a) :
    b = [2, 3, 4, 5, 6, 7, 8, 9]
    b1 = []
    for c in b :
        d = a * c
        b1.append(d)
    print(b1)
    
googoodan(2)

15
10 15 20 25 30 35 40 45
[8, 12, 16, 20, 24, 28, 32, 36]
[4, 6, 8, 10, 12, 14, 16, 18]

In [53]:
b = [0, 1]
num = 0
while num < 50 :
    num = num + 1
    b.append(b[-2] + b[-1])
print(b)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074]

In [10]:
# 예제 4

# 피보나치 정수 n을 받을때 n 이하의 피보나치 수열을 출력하는 함수 작성
# 1. fib(0) > 0 리턴
# 2. fib(1) > 1 리턴
# 3. fib(2) > fib(0) + fib(1) > 0 + 1 > 1 리턴
# 4. fib(3) > fib(1) + fib(2) > 1 + 1 > 2 리턴
# 5. fib(4) > fib(2) + fib(3) > 1 + 2 > 3 리턴

def fib(a) :
    b = [0, 1]
    num = 0
    li = 0
    while num < 50 :
        num = num + 1
        b.append(b[-2] + b[-1])
#     for s in b :
    while li < len(b) :
        if b[li] < a :
            li = li + 1
        else :
            break
    print(b[:li])
        
fib(1000)

def fib(a) :
    b = [0, 1]
    while b[-1] < a :
        b.append(b[-2] + b[-1])
    print(b[:-1])
    
fib(70)

# def fib(n) :
#     if n == 0 : return 0
#     if n == 1 : return 1
#     return fib(n - 2) + fib(n - 1)
# for i in range(10) :
#     print(fib(i), end = " ")

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
0 1 1 2 3 5 8 13 21 34

In [76]:
# 예제 5

# lambda 함수로 변경

# def myfunc(numbers) :
#     result = []
#     for number in numbers :
#         if number > 5 :
#             result.append(number)
#     return result
        
# myfunc([2, 3, 4, 5, 6, 7, 8])

# myfunc = lambda number :
#                 result = []
#                 for number in numbers :
#                     if number > 5 :
#                         result.append(nuber)
#                 return result
            
# myfunc([2, 3, 4, 5, 6, 7, 8])

myfunc = lambda numbers : [number for number in numbers if number > 5]

myfunc([2, 3, 4, 5, 6, 7, 8])

[6, 7, 8]

In [25]:
def fib(a) :
    n = [0, 1]
    while n[-1] < a :
        n.append(n[-2] + n[-1])
    print(n[:-1])
    
fib(20)

[0, 1, 1, 2, 3, 5, 8, 13]

###04-2 사용자 입력과 출력

In [0]:
# 사용자 입력 > 처리(프로그램, 함수) > 출력으로 이루어진다

In [30]:
# 사용자 입력 방법

# input

a = input()

# 프롬프트를 띄워 사용자 입력 받기

# input('질문 내용')

number = input('숫자를 입력하세요 : ')

print(number)

s\
숫자를 입력하세요 : fse
fse

In [34]:
# print 자세히 알기

# " "를 둘러싼 문자열은 + 연산과 같다

print('life' 'is' 'min? max?')
print('life'+'is'+'min? max?')

# 문자열 띄어쓰기는 콤마로 실행한다

print('life', 'is', 'min? max?')

# 한줄에 결과 값 출력하기

for i in range(10) :
    print(i, end = ' ')

lifeismin? max?
lifeismin? max?
life is min? max?
0 1 2 3 4 5 6 7 8 9

#### 연습문제

In [47]:
# 예제 1

# 두 숫자를 입력 받아 더하여 리턴하는 프로그램 실행 시키고 오류 수정

# input1 = input('첫번째 숫자를 입력하시오 : ')
# input2 = input('두번째 숫자를 입력하시오 : ')

# total = input1 + input2

# print('두수의 합은 %s입니다' % total)

input1 = input('첫번째 숫자를 입력하시오 : ')
input2 = input('두번째 숫자를 입력하시오 : ')
print(type(input1))
total = int(input1) + int(input2)

print('두수의 합은 %s입니다' % total)

첫번째 숫자를 입력하시오 : 3
두번째 숫자를 입력하시오 : 2
<class 'str'>
두수의 합은 5입니다
22ee

In [51]:
a = 2

b = 'ee'

print(str(a) * 2, b)
print(a * 2 + b)

SyntaxError: ignored

In [68]:
# 예제 2

# "65, 45, 2, 3, 45, 8" 입력 받아 총합을 구하는 프로그램 작성

# ex2 = input()
# su = []
# for to in ex2 :
#     if to == ',' :
#         continue
#     elif to == ' ' :
#         continue
#     else :
#         su.append(int(to))
# print(ex2)
# print(su)
# print(sum(su))
# print(ex2)
# su = int(ex2)

# print(su)
# print(type(ex2))
# print(type(su))
# print(sum(int(ex2)))

ex2 = input()
ex2 = ex2.replace(" ","")
ex2 = ex2.split(",")

print(ex2)

su = []

for to in ex2 :
    to = int(to)
    su.append(to)

print(su)
    
su = sum(su)

print(su)

65, 45, 2, 3, 45, 8
65, 45, 2, 3, 45, 8
[6, 5, 4, 5, 2, 3, 4, 5, 8]
42

In [104]:
# 예제 3

# 출력 결과 다른것 고르기

1. print("you" "need" "python")
2. print("you"+"need"+"python")
3. print("you", "need", "python")
4. print("".join(["you", "need", "python"]))

# 나머지는 띄어쓰기 없이 붙어서 실행되고 3번만 ","만을 사용해 띄어쓰기가 됨

youneedpython

In [109]:
# 예제 4

# 한줄 구구단 2 ~ 9 까지 입력받은 수를 이용해 만들기

ex4 = input("구구단을 출력할 숫자를 입력하시요(2 ~ 9) : ")
ex4 = int(ex4)
num = 0

while num < 9 :
    num = num + 1
    to = ex4 * num
    print(to, end = " ")

구구단을 출력할 숫자를 입력하시요(2 ~ 9) : 9
9 18 27 36 45 54 63 72 81

###04 -3 파일 읽고 쓰기

In [116]:
# 파일 생성하기

# f = open("new fies.txt", 'w')

# f.close()

# 파일 객체 = open(파일 이름, 파일 열기 모드)

# 파일 열기 모드 종류

# r = 읽기전용(파일 읽기만)
# w = 쓰기전용(파일에 내용 쓸 때)
# a = 추가모드(파일 마지막에 새로운 내용 추가)

# 경로 지정해서 생성 가능
f = open("C:/doit/새파일.txt", "w")
f.close()

# f.close()는 생략해도 되지만 가능하면 close()를 사용해 닫는게 좋다
# 쓰기모드로 열었던 파일을 닫지 않고 다시 열면 오류 발생한다

FileNotFoundError: ignored

In [115]:
# 파일을 쓰기 모드로 열어 출력값 적기

f = open("C:/doit/새파일.txt", 'w')

for i in range(1, 11) :
    data = "%d번째 줄입니다. \n" % i
    f.write(data)
f.close()

FileNotFoundError: ignored

In [0]:
# 위 프로그램과 비교하기

for i in range(1, 11) :
    data = "%d번째 줄입니다. \n" % i
    print(data)