[View in Colaboratory](https://colab.research.google.com/github/Naysieze/example/blob/master/Python_Tutorial_00_2.ipynb)

# Python Tutorial 00

작성자 : 이희성 <br>
작성일 :

이 연습 파일은 [점프 투 파이썬](https://wikidocs.net/)을 공부하며 작성하였습니다.

## 02 -1 숫자형

###실수형

In [0]:
# 실수형 예제

a = 4.24E10
print(a)

b = 4.24e-10
print(b)

####의문
b의 결과값이 수식 그대로 나옴

In [0]:
# 1.대소문자 차이 확인

a = 4.24E-10
print(a)

b = 4.24e-10
print(b)

In [0]:
# 차이가 없음을 확인

# 2.수식내의 수치 변경

a = 2e-2
print(a)

b = 3.4e-5
print(b)

c = 3e-2
print(c)

d = 2.5e-5
print(d)

e = 2e-5
print(e)

f = 4.6e-2
print(f)

In [0]:
# 뒤에 들어가는 숫자중 2가 들어가는 경우만 정상작동 5는 수식 그대로 출력

# 3.뒷에 들어가는 숫자중 작동 되는 숫자 확인

a = 2.5e-1
print(a)

b = 2.5e-2
print(b)

c = 2.5e-3
print(c)

d = 2.5e-4
print(d)

e = 2.5e-5
print(e)

f = 2.5e-6
print(f)

g = 2.5e-7
print(g)

h = 2.5e-8
print(h)

i = 2.5e-9
print(i)

j = 2.5e-10
print(j)

k = 2.5e-11
print(k)

l = 2.5e-12
print(l)

m = 2.5e-13
print(m)

n = 2.5e-14
print(n)

o = 2.5e-15
print(o)

p = 2.5e-16
print(p)

q = 2.5e-17
print(q)

r = 2.5e-18
print(r)

s = 2.5e-19
print(s)

t = 2.5e-20
print(t)

In [0]:
# -5 이하의 값은 계산되지 않음

# 4.양수도 마찬가지인지 확인

a = 2.5e1
print(a)

b = 2.5e2
print(b)

c = 2.5e3
print(c)

d = 2.5e4
print(d)

e = 2.5e5
print(e)

f = 2.5e6
print(f)

g = 2.5e7
print(g)

h = 2.5e8
print(h)

i = 2.5e9
print(i)

j = 2.5e10
print(j)

k = 2.5e11
print(k)

l = 2.5e12
print(l)

m = 2.5e13
print(m)

n = 2.5e14
print(n)

o = 2.5e15
print(o)

p = 2.5e16
print(p)

q = 2.5e17
print(q)

r = 2.5e18
print(r)

s = 2.5e19
print(s)

t = 2.5e20
print(t)

In [0]:
# 양수를 넣으면 16이상은 계산결과 값이 수치로 나오지 않음

#####결론
*실수형은 10의 배수를 제곱하는 것

*양수를 제곱할시 10까지만 출력가능 16이상은 수식으로 출력

*음수를 제곱할시 -4까지만 출력가능  -5 이하는 수식으로 출력

###8진수와 16진수

In [0]:
# 8진수와 16진수 예제

# # 8진수 예제

a = 0o177
print(a)

# # 16진수 예제

b = 0x8ff
print(b)

c = 0xABC
print(c)

#### 8진수와 16진수에 대한 정보 부족
다양한 시도 불가

###사칙연산

In [0]:
# 사칙연산 예제

a = 3
b = 4

c = a + b
print(c)
# 결과값 7

d = a * b
print(d)
# 결과값 12

e = a / b
print(e)
# 결과값 0.75 '책의 설명에는 정수로 나눌시 소수점은 버림'

f = a / (b*1.0)
print(f)
# 결과값 0.75의 결과값을 그대로 출력할시 강제로 한가지 수를 소수점화 시키면된다

g = a ** b
print(g)
# 결과값 81

h = 7 % 3
print(h)

i = 3 % 7
print(i)
# 결과값 h = 1, i = 3 '나눗셈을 하고 나눠지지 않은 나머지값을 남긴다'

j = 7 / (4*1.0)
print(j)

k = 7 // 4
print(k)

l = -7 // 4
print(l)
# 결과값 j = 1.75, k = 1, l = -2 'k에 쓰인 // 명령어는 나눈값의 소수점 아래값을 반환'
# //의 결과 값이 음수인경우는 더욱 낮은 수로 출력이 된다

####의문
1. e의 결과값에 책의 설명이 맞는가

2. l의 실제 값이 -2에 근사값이여서 -2가 출력이 되는가 -1에 가까우면 -1이 출력이 되는가

In [0]:
# 나눗셈 정수 계산 테스트

a = 1
b = 2
c = 3
d = 4
e = 5

f = e / a
print(f)

g = e / b
print(g)

h = e / c
print(h)

i = e / d
print(i)

In [0]:
# 소수점 이하는 자동생성(2.7버전만 소수점 이하 버려짐)

# 소수점 나누기 테스트

a = 1.1 / 2.3
print(a)

b = 3 / 4.2
print(b)

c = 6.1 / 3
print(c)

In [0]:
# 정수와 정수를 나눌때 나오는 값에 버려지는 소수점들은 정말 버려지는가

# 정수와 정수를 소수점이 나오게 나눈값을 다른 수들과 다른계산을 하여 테스트

a = 5 / 3

b = a + 1.5
print(b)

c = a * 3
print(c)

e = a / 2
print(e)

In [0]:
# // 연산의 소수점에 따른 수치변화 확인

a = 7 // 4
print(a)
# 원래값 1.75

b = 5 // 4
print(b)
# 원래값 1.25

c = 3 // 2
print(c)
# 원래값 1.5

d = -7 // 4
print(d)
# 원래값 -1.75

e = -5 // 4
print(e)
# 원래값 -1.25

f = -3 // 2
print(f)
# 원래값 -1.5

####결론
의문 1 : 정수와 정수로 나눌때 소수점이 완전히 버려짐<br><br>
    *소수점 결과가 필요한경우엔 필수적으로 하나의 정수라도 강제로 소수점 수로 변환 필요<br><br>
의문 2 : 소수점의 수는 모두 올림하여 적용이 됨

##02-2 문자열

In [0]:
# 문자열을 만들때 사용하는 '',  "",  '''''', """"""의 차이를 알아보자

print('ㅇ아른ㄷㅇ')
print("ㅇㄹㄴㄷ")
print('''ㄴㄷㄺㅎ''')
print("""ㄴㄹㄷㄴ""")

hi = 'sefds'
print(hi)
si = '''sefd'''
print(si)
ei = "rgfd"
print(ei)
io = """ftfd"""
print(io)
# 책에선 분명 ''로 변수 선언 작업하면 에러 뜬다며

```
a1 = 'What a beautiful world'
a2 = 'what a 'beautiful world'
a3 = 'what a \'beautiful world'

a4 = 'she said "What does fox say"'
a5 = 'she said 'what does fox say''
a6 = 'she said \'what does fox say\''
```

하나 하나 다 프린트 해볼 것

In [0]:
a1 = 'What a beautiful world'
a1

In [0]:
a2 = 'what a 'beauriful world'
a2

In [0]:
a3 = 'what a \'beautiful world'
a3

In [0]:
a31 = 'what a ''beautiful world'
a31

In [0]:
a32 = 'what a \beauriful world'
print(a32)

a33 = 'what a \ beauriful world'
print(a33)

In [0]:
a4 = 'she said "What does fox say"'
a4

In [0]:
a5 = 'she said 'what does fox say''
a5

In [0]:
a6 = 'she said \'what does fox say\''
a6

In [0]:
li = '파이썬 2에선 안되고\'파이썬 3에서 됨'
print(li)

lo = '파이썬 3에선 되고 파이썬 2에선 안됨'
print(lo)

kl = "\"파이썬 3는 가능\"파이썬 2는 불가능"
print(kl)

ku = "파이썬 2는 불가능 파이썬 3은 가능"
print(ku)
# 파이썬 2버전에선 'lo'와 'ku'안됨

mul = '''
  efdse
  sefds
  efdsty
  '''
print(mul)

dul = """
  grdfg
  yjugfr
  xfbre
  """
print(dul)

# er = '
#   대체
#   왜
#   이런것을
#   '
# print(er)
# 위 명령어로 실행시 에러발생

# ''는 문자열 출력
# ""는 변수선언(a = "")

# 책에서 되고 실제로 되는것
# '''''', """"""는 문자열이 여러줄일때 쓰임

In [0]:
food = "Python's favorite food is perl"
food
# sood = 'Python's favorite food is perl'
# 영어에 줄여쓰기 위해 
작은 따음표 사용시 문자열 오류 발생

In [0]:
# '''''', """""" 와 문자열 갯수의 관계

ui = '''
     과연
     몇줄
     까지
     가능
     할까
     '''
print(ui)

po = """
     따음표
     갯수와
     상관이
     있는지
     궁금하내
     ㄷㄴㄷㄹ
     ㅅ오
     ㅇ소
     ㅛㅑㅎ표
     햔
     ㅓㅕ쇼
     ㄴㄱㅎ오횰8ㅑ7ㅓㅗㅀ웅ㄴㄳㄴ융ㅈㅎㅇ
     ㄴ36고류ㅗㅗㅜ79ㅐ호ㅓㅡㅇㄳ458ㅅ345347ㄱㄹ혼ㄱ솔손ㄱㅇ손거ㅣㄴ닥소
     ㄴ4ㄳㄴㅇㅎ
     ㄴ4ㅅㅎ
     345ㅇㄴㄹ홏ㄹ허
     54
     1
     2
     3
     4
     5
     6
     7
     8
     9
     10
     11
     12
     13
     14
     15
     16
     17
     18
     19
     20
     21
     22
     23
     24
     25
     26
     27
     28
     29
     30
     """
print(po)

In [0]:
# 문자열로 사칙연산이 일부 가능

a = '123'
b = '321'

# 문자열과 문자열 사칙연산

print(a + b)
# print(a * b)
# print(a ** b)
# print(a / b)
# print(a % b)
# print(a // b)

# 문자열과 숫자 사칙연산

# print(a + 2)
print(a * 2)
# print(a ** 3)
# print(a / 2)
# print(a % 2)
# print(a // 2)

# 두가지 경우만 가능
# 문자열 + 문자열
# 문자열 * 숫자

# 응용
print("§" * 10)
print("my program")
print('▣' * 15)

In [0]:
# 문자열 인덱싱과 슬라싱

# 문자열 인덱싱은 숫자가 부여된 문자열 순서
# 문자열 슬라이싱은 문자열에 부여된 숫자로 나누는것

a = '한글이 과연 인식이 될까'
b = 'Life is too short, you need python'
c = '!@#~#$ #@%$ #@$@#'

a[2]
b[2]
c[2]
a[1], b[3], c[5], b[0], a[1], c[9]
# 마지막 인덱싱만 실행되지만 전부 같은 인덱싱 수치 적용

# print(a[2])
# print(b[2])
# print(c[2])
# 출력 명령어를 같이 사용시 같은 셀의 같은 명령어만 실행이 됨

In [0]:
print(a[2])
print(a[1], b[2])
print(a[5], b[0], c[2])
# 마지막 인덱싱이 아니라 전부 보려면 print() 명령어가 필수

In [0]:
# 역순으로 인덱싱 불러올수있다

a[-0], b[-1], c[-2]
# 0번째 수치는 역순으로 진행시 기준이 가장 마지막 인덱싱 기준으로 설정이 안됨
# -1로 하게되면 가장 마지막 인덱싱으로 설정

In [0]:
# 인덱싱으로 문자열 조합가능

# print(c[2] + a[0] + a[0] + d[10])
# print()기능으로 사칙연산 조합안됨
e = b[12] + c[7] + a[8]
e

In [0]:
print(e)

In [0]:
# 문자열 슬라이싱 범위 설정 가능

a[0:5], b[1:3], c[:5]

# [0:5] 입력시 0번째 이상 5번째 '미만' 문자열 출력됨
#

In [0]:
z = a[0:5], b[1:3], c[15:]
print(z)
print(a[0:5], b[1:3], c[15:])

In [0]:
a[0:-5], b[1:-3], c[:-5]
# 마지막을 음수로 입력시 양수로 정한 숫자부터 뒤에서부터 정한 음수의 숫자만큼 출력

In [0]:
a[-2:5], b[-1:-3], a[-5:-1], b[-2:-0], b[-2:0]
# 음수에서 양수 순으로 슬라이싱 안됨
# 음수에서 음수로 출력할시 가장 마지막 문자 출력 불가능

In [0]:
# 예제 1

a = '20180919피곤함'

year = a[:4]
day = a[4:8]
feel = a[8:]

print(year)
print(day)
print(feel)

# 예제 2

b = '외 않돼나요'

# b[] = '왜'
# b[2] = '안되'
# 에러발생 단일 객체로는 변경 안됨

# b[:] = '왜'
# b[2:4] = '안되'
# 범위 설정으로도 안됨

b = b[:0] + '왜 안되' + b[4:]

print(b)

# 문자열 슬라이싱 오탈자 생길시 오탈자 범위를 빼고 재 조합 가능
# 슬라이싱 범위 기본 작동 원리는 [X1 이상 : X2 미만]
# 슬라이싱 범위 작동원리 예외 [음수 : 0]

In [0]:
# 문자열 포매팅

# 예제 숫자(Integer) → 어째서 'd'??

"you eat %d junk food" % 3

print("you eat %d junk food" % 3)

# 예제 문자(String)

'Why Soo %s' % 'Serious?'

print('Why Soo %s' % 'Serious?')

# 예제 변수 선언

sf = '요가북'

"건영은 현재 %s을 보고있다" % sf
print("건영은 현재 %s을 보고있다" % sf)

# 예제 2가지 포메팅 사용

day1 = 19

day2 = '십구'

'%d는 %s' % (day1, day2)
print('%d는 %s' % (day1, day2))
# 이건 오입력 ('%s는 %d' % (day1, day2))
# 입력 정확히!

# 추가 코드 테스트

# %%(퍼센트 코드)
# 단독 사용 못함

# print('건영은 %%확률로 배고파한다' % 100)
# print('건영은 %%확률로 배고파한다' % '백')
# print('건영은 %s%확률로 배고파한다' % '백')
# 퍼센트 코드 없이 포멧코드에 % 집어넣으면 없는 명령어라며 오작동
# print("건영은 %s'%'확률로 배고파한다" % '백')
# "건영은 %s'%'확률로 배고파한다" % '백'
# 문자열 "" 안에 ''를 사용하는 방법으로도 안먹힘
print('건영은 %d%%확률로 배고파한다' % 100)
print('건영은 %s%%확률로 배고파한다' % '백')

# %c(문자 1개, 캐릭터)
# 캐릭터???

In [0]:
# 포멧코드와 숫자 활용하기


#정렬과 공백

a = "%10s" % 'hi.ㄷㄹ'
print(a)

b = '%-10s jane' % "hi.ㅎㄹ"
print(b)

c = 'jane %10s' % 'bye'
print(c)

#소수점 표현하기

d = '%0.4f' % 3.14236424754
print(d)

e = '%10.5f' % 3.14236424754
print(e)

f = '%5.5f' % 12345678.12345678
print(f)

g = '%5.5f' % 11.1
print(g)

h = '%10.5f' % 78.1234567
print(h)

# '%10s', '%-10d'같은경우는 공백만 넣어주는 역활
# "%10.4f"같은 경우는 '10'부분은 전체 문자열 개수를 정하는거고
# 뒤의 '0.4'는 소수점을 몇번째까지 표시할지 정하는것이다
# 그럼 'f'와 'g'는???

In [0]:
# 윗 셀의 'f', 'g'에 관해 확인

# 표시할 문자열 개수와 표시할 소수점 뒷 자리수가 같아서 충돌로 둘다 표시??
# 문자열 수가 낮을때와 문자열수가 많을때와 문자열과 소수점이 같을때 다시 확인

a = "%6.5f" % 12345678.12345678
print(a)

# 소수점만 적용됨 숫자 차이 늘려보기
b = '%6.4f' % 12345678.12345678
print(b)

c = "%8.3f" % 12345678.12345678
print(c)

d = "%9.4f" % 12345678.12345678
print(d)

e = '%10.5f' % 12345678.12345678
print(e)

f = '%13.6f' % 12345678.12345678
print(f)

g = '%15.2f' % 12345678.12345678
print(g)

h = '%13.2f' % 12345678.12345678
print(h)

i = "%7.5f" % 1.12345678
print(i)

j = "%9.6f" % 1.12345678
print(j)

# '%10.5f'라고 하면 총 출력될 문자 개수가 소수점표시인 '.'콤마도 포함하여
# 10개의 숫자를 표시하고 소수점 5자리 수까지 표시한다
# 하지만 '정수'는 몇자리 수이든 생략이 안되기 때문에 반듯이 정수 개수를 넘는
# 수로 세팅해야된다 그리고 콤마도 포함이 됨으로 최소 정수 숫자+.보다 초과된
# 수를 초기 세팅으로 넣어야된다

# 또 다른 의문 a, b, d, e, f, i, j의 소수점 표시 마지막에서 두번째 수가 생략됨

In [0]:
a = '%0.5f' % 0.123456789
print(a)

b = '%0.5f' % 0.111111111
print(b)

c = '%0.5f' % 0.122333444
print(c)

d = '%0.5f' % 0.123335
print(d)

e = '%0.5f' % 0.12345
print(e)

f = '%2.5f' % 0.1234
print(f)

g = '%7.4f' % 0.1234
print(g)

# 입력될 소수점 자리수가 표시될 소수점 자리수보다 많으면 이상현상 발생
# 파이썬 오류?? 또는 올림??
# 소수점 표시 마지막수의 뒷자리수가 4이하일경우는 정상표시, 5이상일 경우는 올림 표시
# 0.2f일경우 '0.124'면 '0.12'표시 '0.125'라면 '0.13'표시f = '%2.5f' % 0.1234

In [0]:
# 포멧 함수를 이용한 포매팅

a = 'I eat {0} apples'.format(3)
print(a)

number = 3

day = 'one'

b = 'I eat {0} apples, you eat {1} apple'.format(number, day)
print(b)

# c = 'you eat {number} apples, i eat {day} apple'
# print(c)

d = 'you eat {number} apples, i eat {day} apple'.format(number = 5, day = 1)
print(d)

# e = 'I eat {number} apples, you eat {0} banana'.format(number = 2, 3)
# print(e)
# e = 'I eat {number} apples, you eat {1} banana'.format(number = 2, 1)
# print(e)

e = 'I eat {number} apples, you eat {0} banana'.format(3, number = 2)
print(e)

f = 'i eat {0} apples, you eat {number} banana'.format(3, number = 3)
print(f)

# 포멧 기능중 {0}과 {number}을 같이 사용할시 코드내의 순서랑 상관없이
# .format({0},{number})순으로 써야 에러 안생김(문자보다 숫자 우선처리인듯)

In [0]:
# 포멧을 이용한 정렬방식

a = "{0:~<10}".format("hi")
print(a)

b = "{0:#>10}".format('hi')
print(b)

c = '{0:^10}'.format('hi')
print(c)

# 포멧을 이용한 소수점표시

y = 3.3426789679

d = '{0:0.4f}'.format(y)
print(d)

e = "{0:@>10.4f}".format(y)
print(e)

# {}보여주는 포멧팅
f = "{{and}}".format()
print(f)

In [0]:
# f문자열 포멧팅

name = '이희성'

age = 29

a = f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
print(a)

b = f'내년에는 나이가{age+1}살이 된다'
print(b)

z = {'name':'이희성', 'age':29}

c = f"내 이름은 {z['name']}이고 나이는 {z['age']}야"
print(c)

In [0]:
# 문자열 관련 함수들

# 문자 개수 세기(count)

a = "hobby"
print(a.count('b'))

# 문자 위치 알려주기(find)

b = "python is the best choice"
print(b.find('b'))
print(b.find('k'))
print(b.find('e'))

# 문자 위치 알려주기 2 (index)

c = 'life is too short'
print(c.index('t'))
# print(c.index('k'))
print(c.index('i'))
# 없는 문자를 찾으면 오류 발생

In [0]:
# 문자열 삽입(join)

a = ','
print(a.join('asdgf'))
print(a.join(':::::'))

# 소문자를 대문자로 변경(upper)

b = "bye"
print(b.upper())

c = 'LioN'
print(c.upper())

# 대문자를 소문자로 변경(lower)

d = "JOIN"
print(d.lower())

e = 'sign'
print(e.lower())

# 왼쪽 공백 지우기(lstrip)

f = "  dog"

print(f.lstrip())

# 오른쪽 공백 지우기(rstrip)

g = 'dog    '

print(g.rstrip())

# 양쪽 공백 지우기(strip)

h = '  small dog   '
print(h.strip())

# 문자열 바꾸기(replace)

ha = "Life is too short"

print(ha.replace('Life', 'your leg'))

# 문자열 나누기(split)

i = 'You look so small'
print(i.split())

j = "a, b, c, d, e, f"
print(j.split())

k = "a:b:c:d"
print(k.split(":"))

In [0]:
# 문자열 예제

# 1. 문자열 출력 1

# print(""점프 투 파이썬" 문제를 풀어보자")
# a = ("점프 투 파이썬" 문제를 풀어보자)
a = '"점프 투 파이썬" 문제를 풀어보자'
print(a)

# 2. 문자열 출력 2

# print(""Life is too short/ You need pytion"")
print("""Life is too short
You need Pytion""")

# 3. 공백 추가

# print("%dPYTHON".%d"          ")
b = "%24s" % 'PYTHON'
print(b)

# 4. 문자열 나누기

pin = "881120-1068234"

print(pin[:6])
print(pin[7:])

# 5. 문자열 인덱싱

pin = '881120-1068234'

# print(pin.index(7))
# print(pin.index(7:8))
# print(pin.index())
print(pin[7])

# 6. 문자열 변경

ex = "1980M1120"

print(ex[4]+ex[:4]+ex[5:])

# 7. 문자열 포멧

c = 'PYTHON'

print("%24s"%"c")

# 8. 문자열 찾기

d = "Life is too short, you need python"

print(c.find("short"))

# print(d.index["short"])

# 9. 문자열 바꾸기 1

ex1 = "a:b:c:d"

print(ex1.replace(":", "#"))

# print(ex1.replace[])

# 10. 문자열 바꾸기2

ex2 = "a:b:c:d"

ex3 = ex2.split(":")

print(ex3)
# ex3 = ex2.split(":"), ex2.join("#")
# ex3 = ex2.split('a','b','c','d')
# ex3 = ex2.split('abcd')

# ex4 = ex3.join("#")
# ex3.join("#")

a1 = "#"

print(a1.join(ex3))

##02-3 리스트 자료형

In [0]:
# 리스트는 '[]'로 감싸고 구분은 ','로 구분한다

odd = [1, 3, 5, 7, 9]

# 리스트명 = [요소1, 요소2, 요소3.........]

a = []

print(a)

b = list()

print(b)

c = [1, 2, ['life', 'is']]

print(c)

In [0]:
# 리스트의 인덱싱

a = [1, 2, 3, 4, 5]

print(a[0])
print(a[3])
print(a[-1])
# a[]안의 숫자는 a 라는 리스트의 몇번째 요소인지 정하는 것

In [0]:
# 리스트 요소가 수일경우 리스트 요소끼리의 연산가능

print(a[0]+a[2])

print(a[-1] + a[1])

In [0]:
# 리스트 안의 리스트를 만들어 확인

a = [1, 2, 3, ['a', 'b', 'c']]

print(a[0])

print(a[-1])

print(a[3])

# print(a[-1[1]])

print(a[-1],[2])

print(a[-1][2])

# print(a[6])

# 리스트 안의 리스트를 불러오기위해서는
# 리스트 안의 리스트 가있는 인덱스를 설정하고 그 인덱스 안의 리스트 위치를 입력
# 예 리스트[리스트가 있는인덱스][인덱스안의 리스트의 인덱스 위치]
# a[3][1]

# 삼중 인덱싱

b = [1, 2, ['a', 'b', ['python', 'is']]]

print(b[2][2][1])

In [0]:
# 리스트 슬라이싱

a = [1, 2, 3, 4, 5]

print(a[0:2])

# 문자열 슬라이싱 비교

b = '12345'

print(b[0:2])

# 슬라이싱으로 가지고온 값은 인덱스가 아니라 리스트로 분류

In [0]:
# 중첩 리스트 슬라이싱

a = [1, 2 ,3 ,['a', 'b', 'c'], 4, 5]

print(a[3][:2])

In [0]:
# 리스트 연산

a = [1, 2, 3]

b = [4, ['a', 'b', 'c'], 5]

print(a+b)

# print(a[1] + 'hi')
# 타입 다르며 에러발상

print(str(a[2]) + 'hi')

In [0]:
# 리스트 반복(*)

a * 3

In [0]:
# 리스트 내의 인덱스 변경

a = [1, 2, 3, 4]

# print(a[2] = [5, 4, 3, 2, 1])
a[2] = [5, 4, 3, 2, 1]

print(a)

a[3] = 6

print(a)

# 인덱스 변경시 a[] = []로 변경시키면 리스트로 변경되어 입력됨
# 단순 인덱스를 인덱스로 변경시키려면 a[] = 요소 로 입력

In [0]:
# 리스트내의 연속된 인덱스 수정
# # 주의점 새로운 셀에서 다시 변수선언 하지 않고 연속된 인덱스 수정시
# 중복 실행하면 결과 값이 변함으로 반듯이 한번만!!!

print(a[1:2])

# print(a[1:2] = ['a', 'b', 'c'])
a[1:2] = ['a', 'b', 'c']

print(a)

# a[1:2] = [][1, 2, 3, 4]
a[1:2] = [[1, 2, 3, 4]]
# 인덱스 안의 리스트 집어넣을땐 [][]를 이용하면 에러발생 [[]]기능 사용

print(a)

# 리스트 내의 인덱스 수정시 수정 수식을 print() 안에 넣고 사용하면 작동안됨
# 수정후에 print()수식 가능

In [0]:
# 리스트내의 인덱스 삭제 방법

a[1:3] = []

print(a)

In [0]:
# del 함수를 사용하여 인덱스 수정

del a[2]
# del.a[1]
# dela[1]
# a.del(1)
# a.del[1]
# a.del("1")
# a[1].del

print(a)

# del 함수 이용시 띄어쓰기로 분류 해줘야 가능
# del 객체
# find 함수같은 방식으로 작동 안됨

del a[1:3]

print(a)

# 인덱스 슬라이싱(범위설정) 하여 제거 가능

In [0]:
# 리스트에 요소 추가(append)

a = [1, 2, 3, 4, 5]

# print(a.append(4))
a.append(4)

print(a)

# print(a.index(4))

a.append([3, 2, 1])

print(a)

In [0]:
# 리스트 정령(sort)

a = [1, 5, 3, 2, 4]

a.sort()

a

In [0]:
# 리스트 뒤집기(reverse)

a = ['a', 'c', 'e']

a.reverse()

a

In [0]:
# 위치 반환(index)
# 요소의 인덱스 확인

a = [1, 2, 3, 4, 2]

# a.index(2, [1, 4])
# print(a.index(2, [1, [4]]))
print(a.index(2))

# print(a.index(5))
# 없는 요소의 인덱스는 확인 안됨

b = [4, 1, 6, 2, 3, 5]

print(b.index(3))

In [0]:
# 리스트에 요소 삽입(insert)

a = [1, 2 ,3]

a.insert(0, 4)

print(a)

a.insert(1, 3)

print(a)

a.insert(2, [2])

print(a)

In [0]:
# 리스트 요소 제거(remove)

a = [1, 2, 3, [4], 5, 6]

a.remove(2)

print(a)

# a.remove(4)
a.remove([4])
# 리스트 안의 리스트는 []넣어주어 선택해줘야 제거가 됨

print(a)

In [0]:
# 리스트 요소 끄집어내기(pop)

a = [1, 2, 3, 4, 5, 4, 3, 2, 1]

a.pop()

a

# 아무 인덱스도 집어 넣지 않을시 마지막 인덱스만 제거한다

In [0]:
# 인덱스 집어넣을을 때

a = [1, 2, 3, 4, 5, 4, 3, 2, 1]

a.pop(3)

a

In [0]:
# 인덱스 범위 집어넣을 때

a = [1, 2, 3, 4, 5, 4, 3, 2, 1]

# a.pop[:2]

# print(a)

# a.pop([1:])

# print(a)

a[0:5].pop(2)
b = a[0:5].pop(2)
# b = a[0:5].copy()
# b = a.copy()

c = a[0:5]

print(a)
print(b)
print(c)
a.pop(4)
print(a)
print(b)

# pop 만을 이용한 범위 인덱스 범위 정하여 제거는 안됨

In [0]:
# remove 와 pop 과 del의 차이
# remove는 요소만 삭제
# pop은 해당 인덱스의 요소를 삭제하고 요소를 리턴받음
# del은 해당 인덱스의 삭제

In [0]:
# 리스트에 포함된 특정 요소 개수 세기(count)

a = [1, 2, 3, 4, 5, 4, 3, 2, 1]

a.count(4)

In [0]:
# 리스트 확장(extend)

a = [1, 2, 3]

a.extend([4, 5])

print(a)

a.extend([[2, 3]])

print(a)

In [0]:
# 연습문제

# 1. 리스트 인덱싱

a = ['Life', 'is', 'too', 'short', 'you', 'need', 'pytion']

print(a[4], a[2])

# 건영방법

# a1 = a[4] + ' ' + a[2]
# print(a1)

# 2. 리스트 조인

b = ['Life', 'is', 'too', 'short']

# print(b[0] + b[1] + b[2] + b[3])
# print(b[0], b[1], b[2], b[3])
# 위의 방법으로 가능은 하지만 join 함수 사용
# join 사용법
# '연결시킬 내용'.join(b)
print(' '. join(b))
# print(' ', join(b[0], b[1], b[2], b[3]))
print(' '. join(b[1:4]))
# print(' ', join(b[0:3], b[2:4]))

# 3. 리스트의 갯수

c = [1, 2, 3]

# c.len()
len(c)

# 4. 리스트의 append와 extend 차이

d = [1, 2, 3]

d.append([4, 5])

print(d)

d = [1, 2, 3]

d.extend([4, 5])

print(d)

# append는 ()안에 있는 요소를 그대로 리스트안에 집어넣고
# extend는 ([])를 사용해야 리스트안에 추가 가능
# extend에 []없이 리스트안에 요소 삽입하려면 아래와 같이 변수 선언후 진행
# d1 = [1, 2, 3]
# d2 = [4, 5, 6]
# d1.extend(d2)
# print('test : ', d1)
# ----------------------------------------------------
# print(d.append([4, 5]))
# print(d.append([4, 5]))

# d1 = d.append([4, 5])
# print(d1)

# d2 = d.extend([4, 5])
# print(d2)

# 위와 같은 방법으로 실행 하면 결과값이 none으로 나옴

# 5. 리스트 정령

e = [1, 3, 5, 4, 2]

e.sort()

e.reverse()

print(e)

# 6. 리스트 삭제

f = [1, 2, 3, 4, 5]

del f[1]

f.remove(4)

print(f)

# del은 해당 인덱스 제거
# remove는 해당 요소 제거

you too
Life is too short
is too short
[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]

In [48]:
d1 = ['asdf',1,2,3]

d1.extend(['qwer'])
d1.extend('qwer')

print(d1)

d2 = ['asdf',1,2,3]

d2.extend(['1234'])
d2.extend('1234')

print(d2)

d1 = ['asdf',1,2,3]

d1.extend([4, 5, 6])
# d1.extend(456)
d1.extend(4,5,6)
# 단일숫자 취급
print(d1)

['asdf', 1, 2, 3, 'qwer', 'q', 'w', 'e', 'r']
['asdf', 1, 2, 3, '1234', '1', '2', '3', '4']

TypeError: ignored

##02-4 튜플 자료형

### 리스트와 튜플의 차이점
  * 리스트는 []를 이용해 작성이되고
  * 튜플은 ()를 이용해 작성이된다
  * 리스트는 수정이 용이하다
  * 튜플은 입력한 요소를 바꾸지 못한다

In [0]:
# 튜플 요소값 삭제시

tup = (1, 2, 'a', 'b')

del tup[0]

(2, 'a', 'b')

In [0]:
# 튜플 요소값 변경시

tup = (1, 2, 'a', 'b')

tup[0] = 'c'

TypeError: ignored

In [0]:
# 튜플은 입력한 요소변경이 불가능 하지만
# 그외의 작업은 가능하다

In [0]:
# 튜플 인덱싱

tup = (1, 2, 'a', 'b')

print(tup[1])

print(tup[3])

# 튜플 슬라이싱

tup = (1, 2, 'a', 'b')

print(tup[1:3])

# 튜플 연산

tup1 = (1, 2, 'a')
tup2 = ('b', 2, 'c')

print(tup1 + tup2)

print(tup2 * 3)

# print(tup1 - tup2)

2
b
(2, 'a')
(1, 2, 'a', 'b', 2, 'c')
('b', 2, 'c', 'b', 2, 'c', 'b', 2, 'c')

TypeError: ignored

In [0]:
# 연습 문제

# 1. 튜플 작성

tup = (3, 3, 3, 3, 3, 3)

# 2. 튜플 변경 오류 설명

# tup = (1, 2, 3)

# tup[1] = 4

# 입력한 코딩은 tup의 1번째 인덱싱의 요소를 4로 바꾸고 입력이 되어있다
# 리스트의 경우에는 1번째 인덱싱인 2가 4로 바뀌어 (1, 4, 3)이 되겠지만
# 튜플은 한번 작성하면 추가 코딩으로 요소 수정이 불가능하다
# 바꾸기 위해서는 직접 튜플 리스트를 수정을 하거나
# 슬라이싱과 새로운 튜플 추가와 튜플끼리 합쳐서 '바뀐것 처럼 보이게는' 만들수는 있다

# 3. 튜플 추가

# tup1 = (1, 2, 3)

# tup2 = (5)

# print(tup1 + tup2)

# tup1 + tup2

# 위의 같은경우에는 에러 발생
# 튜플 리스트 작성시 ()안에 1개의 인덱스만 존재할경우 리스트로 취급이 안됨

tup1 = (1, 2, 3)

tup2 = (4, 5)

print(tup1 + tup2)

tup1 + tup2

# tup1.extend(tup2)
# print(tup1)
# extend로 불가능

(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

##02-5 딕셔너리 자료형

In [0]:
# 딕셔너리는 리스트와 튜플과 다르게 표처럼 {key1 : value1}로 이루어져서
# key 값에 여러 요소와 리스트를 넣을수 있고 key는 index 역활이고
# value는 요소 역활이다
# key와 value가 하나의 리스트 역활을 수행한다

dic = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

a = {1 : 'hi'}

b = {'a' : [1, 2, 3]}

print(dic)

dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

{'birth': '1118', 'name': 'pey', 'phone': '0119993323'}

In [0]:
# 딕셔너리 쌍 추가하기

a = {1 : 'a'}

a[2] = 2

print(a)

a[2] = 'b'

print(a)

a['name'] = 'pey'

print(a)

a[4] = [1, 2, 3]

print(a)

a['win?'] = 'pay to win!'

print(a)

a['name'] = 'mai'

print(a)

# a['time'] = 13 : 45
# a['time'] = [13 : 45]
a['time'] = '13 : 45'

print(a)

a[3] = 2222

print(a)

a[7] = 1

print(a)

a
# a[0]
# 딕셔너리가 추가될때는 key가 인덱스 역활을 하기에
# 입력순서에 상관 없이 추가하는 순서대로 입력이 된다
# 딕셔너리 추가시 같은 key가 입력되면 마지막 입력된 key에 할당된 value 값으로 수정

{1: 'a', 2: 2}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 4: [1, 2, 3]}
{1: 'a', 2: 'b', 'name': 'pey', 4: [1, 2, 3], 'win?': 'pay to win!'}
{1: 'a', 2: 'b', 'name': 'mai', 4: [1, 2, 3], 'win?': 'pay to win!'}
{1: 'a', 2: 'b', 'name': 'mai', 4: [1, 2, 3], 'win?': 'pay to win!', 'time': '13 : 45'}
{1: 'a', 2: 'b', 'name': 'mai', 4: [1, 2, 3], 'win?': 'pay to win!', 'time': '13 : 45', 3: 2222}
{1: 'a', 2: 'b', 'name': 'mai', 4: [1, 2, 3], 'win?': 'pay to win!', 'time': '13 : 45', 3: 2222, 7: 1}

{1: 'a',
 2: 'b',
 3: 2222,
 4: [1, 2, 3],
 7: 1,
 'name': 'mai',
 'time': '13 : 45',
 'win?': 'pay to win!'}

In [0]:
# 딕셔너리 요소 삭제

del a[4]

# del a[2222]

print(a)

a

# del a[key]를 입력하면 해당 요소가 삭제되지만
# del a[value]를 입력하면 에러발생하여 제거가 안된다
# value는 key 안에 있는 값! 리스트 안의 리스트 '[1, [2, 3]]' 에 '[2, 3]'' 비슷한 것

{1: 'a', 2: 'b', 'name': 'mai', 'win?': 'pay to win!', 'time': '13 : 45', 3: 2222, 7: 1}

{1: 'a',
 2: 'b',
 3: 2222,
 7: 1,
 'name': 'mai',
 'time': '13 : 45',
 'win?': 'pay to win!'}

In [0]:
# 딕셔너리에서 key 사용해 value 얻기

test = {'pey' : 10, 'julliet' : 99}

print(test['pey'])

test['julliet']

10

99

In [0]:
# 딕셔너리 작성시 주의 사항

a = {1 : 'a', 1 : 'f'}

print(a)

# 같은 key를 여러번 입력하면 마지막 입력된 내용만 인식된다

# b = {[1, 2] : 'cold'}
b = {(1, 2) : (3, 4)}
c = {'cold' : [1, 2]}

print(b)
print(c)
# 딕셔너리에 리스트를 사용할수는 있지만
# value에는 사용가능하고 key에 리스트를 사용할수는 없다
# 하지만 튜플 형식은 Key로 사용할수 있다

{1: 'f'}

{(1, 2): (3, 4)}

In [0]:
# 딕셔너리 함수
# 리스트에 쓰이는 대부분의 함수는 사용하지 못한다

# 1. key 리스트 만들기(keys)

a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

print(a.keys())

print(list(a.keys()))

# 2. value 리스트 만들기(values)

print(a.values())

print(list(a.values()))

# 3. key, value를 튜플로 묶어 나누기(items)

print(a.items())

print(list(a.items()))

# 4. key : value를 전부 지우기(clear)

a.clear()

a

# 5. key로 value 얻기(get)

a = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

print(a.get('phone'))

print(a.get('name'))

print(a.get('some'))

# 출력값이 None은 false(실패)이다

print(a.get('foo', 'fighter'))

# 6. 딕셔너리 안에 해당 key가 있는지 확인(in)

test = {'name' : 'pey', 'phone' : '0119993323', 'birth' : '1118'}

print('name' in test)

print('email' in test)

dict_keys(['name', 'phone', 'birth'])
['name', 'phone', 'birth']
dict_values(['pey', '0119993323', '1118'])
['pey', '0119993323', '1118']
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])
[('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')]
0119993323
pey
None
fighter
True
False

In [0]:
# 연습문제 만들기

# 1. 딕셔너리 만들기

dic = {'name' : '홍길동', 'birth' : 1128, 'age' : 30}

print(dic)

# 2. 딕셔너리 오류

# x = dic()는 아래와 같이 딕셔너리를 생성 할수 있다
# x = dict(name = "John", age = 36, country = "Norway")

a = dict()

a['name'] = 'python'

a[('a', 'n')] = 'python'

# a[[1]] = 'python'

a[250] = 'python'

print(a)

# 'name' 추가는 문자열을 key 로 사용할 수 있어서 허용되고
# ('a', 'n') 튜플 형식은 딕셔너리의 key 사용이 가능
# [1]의 경우는 리스트이고 리스트는 언제든 함수를 이용해 수정이 가능해
# key 값이 될경우 문제가 생길수 있기 때문에 허용이 안되어 에러 발생의로 추측된다
# 250 추가는 수를 key로 사용할 수 있어서 허용됨

# 3. 딕셔너리 값 추출 1

a = {'a' : 90, 'b' : 80, 'c' : 70}

print(a.get("b"))

del a['b']

print(a)

# a.clear('b')

# print(a)

a.clear()

print(a)

# 4. 딕셔너리 값 추출 2

a = dict(a = 90, b = 80)

print(a)

print(a.get('c', 70))

# 5. 딕셔너리 최소값

dic = dict(a = 90, b = 80, c =75)

# dicmin.min()

dicmin = min(dic.values())

print(dicmin)

# 6. 딕셔너리 리스트 변환

dicit = dict(a = 91, b = 88, c =75)

# dicit.items()
print(list(dicit.items()))

{'name': '홍길동', 'birth': 1128, 'age': 30}
{'name': 'python', ('a', 'n'): 'python', 250: 'python'}
80
{'a': 90, 'c': 70}
{}
{'a': 90, 'b': 80}
70
75
[('a', 91), ('b', 88), ('c', 75)]

In [0]:
a = {'a' : 90, 'b' : 80, 'c' : 70}

a.get('b')

80

##02-6 집합 자료형

In [7]:
# 집합(set)관련 작업을 쉽게 하기위한 리스트 변형

# s1 = set(1, 2, 3)
s1 = set([1, 2, 3])

print(s1)

s2 = set('hello')

print(s2)

# s3 = set([1, 2, 3], [4, 5, 6])
# s3 = set([1, 2, 3], 'bye')

# print(s3)

# set을 이용해 요소 요소마다 하나 하나 다 변환 하려면 [] 사용해야 변환 가능
# 문자를 변환하면 중복되는 알파벳 사라지고 순서 섞임
# 인덱싱 없음
# 한번에 하나만 변경 가능

{1, 2, 3}
{'e', 'l', 'h', 'o'}

In [30]:
# 인덱싱작업을 위한 집합(set)변환

s1 = set([12, 23, 34])

# 리스트

li = list(s1)

print(li)

print(li[1])

# 튜플

tu = tuple(s1)

print(tu)

print(tu[0])

[34, 12, 23]
12
(34, 12, 23)
34

In [13]:
# 집합 자료형 활용법(집합구하기)

s1 = set([1, 2, 3, 4, 5, 6])

s2 = set([4, 5, 6, 7, 8, 9])

# 1. 교집합

print(s1 & s2)

print(s1.intersection(s2))

# 2. 합집합

print(s1 | s2)

print(s1.union(s2))

# 3. 차집합

print(s1 - s2)

print(s2 - s1)

print(s1.difference(s2))

print(s2.difference(s1))

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [22]:
# set(집합)에 쓰이는 함수

# 1. 값 추가(add)

s1 = set([1, 2, 3])

s1.add(4)
# s1.add([4])
# 이미 set으로 나눠져있기 때문에 [4]라는 리스트를 추가 할수 없다

print(s1)

# 2. 여러개의 값 추가(update)

s2 = set([1, 3, 5])

s2.update([2, 4, 6])

print(s2)

# 3. set에서 값 제거(remove)

s3 = set([7, 6, 5, 4, 3, 2, 1])

s3.remove(6)

print(s3)

# s3.remove(2, 4)
# s3.remove([2, 4])

# print(s3)
# 한번에 두가지 값 제거안됨

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 7}

In [40]:
# 연습문제

# 1. 집합만들기

# s1 = set('a', 'b', 'c')
# s1 = set(abc)
s1 = set('abc')
s1 = set(['a', 'b', 'c'])

print(s1)

# 2. 집합 중복

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

s2 = set(a)

print(s2)

# 3. 차집합

s1 = set(['ace', 'f', 'bed', 'e', 'want'])
s2 = set(['c', 'd', 'e', 'f', 'g'])

print(s1 - s2)
print(s1.difference(s2))
print(s2 - s1)
print(s2.difference(s1))

# 4. 집합 만들기 2

a = {'a', 'b', 'c'}

print(a)

print(type(a))

b = {}

print(type(b))

c = set()

print(type(c))

# 5. 집합 추가

a = {'a', 'b', 'c'}

a.update('d', 'e', 'f')

a

{'b', 'a', 'c'}
{1, 2, 3, 4, 5}
{'bed', 'ace', 'want'}
{'bed', 'ace', 'want'}
{'g', 'd', 'c'}
{'g', 'd', 'c'}
{'b', 'a', 'c'}
<class 'set'>
<class 'dict'>
<class 'set'>

{'a', 'b', 'c', 'd', 'e', 'f'}

##02-7 불(bool) 자료